/******************************
********  Global HTML  ********
******************************/
body {
  overflow: hidden;
}

/******************************
********  Components   ********
******************************/
.json-container {
  margin-left: 2rem;
  padding: 0.375rem;
  border: 1px solid #bdc3c7;
  overflow-y: scroll;
}

.file-upload-btn {
  margin-left: 0.5rem;
  padding: 0.2rem;
}

/******************************
********    AG Grid    ********
******************************/
.edit-btn-props {
  margin: 0 8px;
  padding: 2px;
}

/******************************
********  Date Picker  ********
******************************/

.md-drppicker .btn,
.ranges ul li button.active,
.md-drppicker td.active,
.md-drppicker td.active:hover {
  background-color: #17a2b8 !important;
}

.md-drppicker .clear svg {
  margin-bottom: 0.6rem;
}

/******************************
******* Bootstrap Tabs ********
******************************/

.nav-link {
  color: black !important;
}

.nav-link.active {
  background-color: rgb(2, 117, 216) !important;
  color: white !important;
}

/******************************
******* Spinner ********
******************************/

.spinner-grow {
  width: 4rem !important;
  height: 4rem !important;
  color: rgb(2, 117, 216);
}

/******************************
********   Utilities   ********
******************************/

/******************************
********     Width     ********
******************************/
.width-55 {
  width: 55%;
}

.width-45 {
  width: 45%;
}

.width-38 {
  width: 38%;
}

.width-15 {
  width: 15%;
}

.width-38px {
  width: 38px;
}

/******************************
********    Height     ********
******************************/
.height-45 {
  height: 45%;
}

.height-38rem {
  height: 38rem;
}

.height-30rem {
  height: 30rem;
}

.height-38px {
  height: 38px;
}

.height-30px {
  height: 30px;
}

.max-height-100 {
  max-height: 100px;
}

.max-height-180 {
  max-height: 180px;
}

/******************************
********   Padding   ********
******************************/

.pt-10 {
  padding-top: 10px;
}

.pl-5 {
  padding-left: 5px;
}

/******************************
********   Font Size   ********
******************************/
.fz-1 {
  font-size: 1em;
}

.fz-1_5 {
  font-size: 1.5em;
}

.fz-20 {
  font-size: 20px;
}

/******************************
********     Colors    ********
******************************/
.color-white {
  color: #fff;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}

.bc-red {
  background: rgb(198, 40, 40);
}

.bc-green {
  background: rgb(76, 175, 80);
}

/******************************
********    AG GRID Font Colors    ********
******************************/
.redFont {
  color: red;
  font-style: italic;
}

.greenFont {
  color: green;
  font-style: italic;
}

.footerRow {
  font-weight: bold;
}

/******************************
********    Commons    ********
******************************/
.opacity-1 {
  opacity: 1 !important;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.bg-size-100 {
  background-size: 100%;
}
