<!-- Header Content Container -->
<div class="d-flex">

  <!-- Posting Engine Status -->
  <p *ngIf="postingEngineStatus" class="mx-2 my-0">Please wait Posting Engine is Processing</p>
  <div *ngIf="postingEngineStatus" class="progress-container progress mt-1 mr-2">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
      [style.width.%]="progressBar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    <span class="progress-text">{{ progressBar }}% Complete</span>
  </div>

  <!-- Base Currency -->
  <div class="mr-2">
    <span>Reporting Ccy {{ baseCurrency }} </span>
  </div>

  <!-- Date -->
  <div class="font-weight-bold">
    <span [ngClass]="{'color-red-light': !toDateHasJournals, 'color-white': toDateHasJournals}">
      {{ effectiveDate }}</span>
    <span>/</span>
    <span> {{ date }}</span>
  </div>

  <!-- Service Status Indicator -->
  <div *ngIf="!servicesStatus">
    <!-- <i matTooltip="Please, Go to Operations" class="color-red-light material-tooltip-main material-icons">warning</i> -->
    <i class="fa fa-exclamation-triangle color-red-light ml-1" aria-hidden="true"></i>
  </div>

</div>
<!-- Header Content Container Ends -->