.header {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 7px;
  background: rgb(2, 117, 216);
  color: white;
}

.header-btn {
  background-color: rgb(2, 117, 216);
  color: white;
  outline: none;
}

.right-corner {
  display: flex;
  margin-left: auto;
  padding: 10px;
}

.progressContainer {
  width: 140px;
  background-color: #2f4f4f;
}

.progress {
  position: relative;
  height: 1.2rem;
}

.date-style {
  font-weight: bold;
}

.currency {
  margin-right: 10px;
}

.my-centered {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
}
