.header-container {
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px 20px 10px 8px;
}

.menu-btn {
  outline: none;
}

.progress-container {
  width: 140px;
  background-color: #2f4f4f;
}

.progress {
  position: relative;
  height: 20px;
}

.currency {
  margin-right: 10px;
}

.progress-text {
  width: 100%;
  display: block;
  position: absolute;
  text-align: center;
}
