<div class="header">
    <button class="header-btn" mat-icon-button (click)="sidenav.toggle();">
        <mat-icon>menu</mat-icon>
    </button>

    <span>Accounting</span>
    <span class="spacer"></span>
    <div class="right-corner">
        <p *ngIf="postingEngineMsg" class="mx-2 my-0">Please wait Posting Engine is Processing</p>
        <div *ngIf="postingEngineMsg" class="progress progressContainer mr-2 mt-1">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                [style.width.%]="progressBar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            <span class="my-centered">{{progressBar}}% Complete</span>
        </div>
        <div class="date-style">
            <span> {{ date }}</span>
        </div>
    </div>

</div>