<p-tabView [ngStyle]="style">
  <p-tabPanel header="Ops Blotter Journal / Allocation" [ngStyle]="style">
    <div style="clear: both"></div>
    <div #divToMeasure>
      <div [ngStyle]="styleForHight">
            
        <ag-grid-angular style="width: 100%; height: 45%" class="ag-theme-balham" [gridOptions]="gridOptions" #topGrid
          (rowSelected)="onRowSelected($event)" [rowData]="rowData">
        </ag-grid-angular>

        <!-- <h4>Allocations for selected OpsBlotter Journal</h4>
        <ag-grid-angular style="width: 100%; height: 45%" class="ag-theme-balham" [gridOptions]="allocationsGridOptions"
          #bottomGrid [rowData]="allocationsData">
        </ag-grid-angular> -->

        <div style="width: 100%; height: 45%; display: flex">
          <div class="col-6" style="padding: 0px">
            <app-allocations></app-allocations>
          </div>
          <div class="col-6" style="padding: 0px">
            <app-journals></app-journals>
          </div>
        </div>

      </div>
    </div>
  </p-tabPanel>
</p-tabView>

<app-data-modal #dataModal [orderId]="orderId" [title]="title">
</app-data-modal>