<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #roleForm="ngForm" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <h3>Ledger</h3>
        </div>
        <div class="modal-body" *ngIf="active">
          <div class="form-group row required">
            <label class="col-sm-3 col-form-label text-right control-label">Account</label>
            <div class="col-sm-9">
              <p-autoComplete required placeholder="Search..." #accountInput [forceSelection]="true"
                [ngStyle]="{'border-color': 'red'}" [(ngModel)]="account" [suggestions]="accounts" field="name"
                name="accountName" (completeMethod)="onSearchAccount($event)" [style]="{'width':'95%'}"
                [inputStyle]="{'width': '85%'}" [dropdown]="true">
                <ng-template let-account pTemplate="accountTemplate">
                  <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                    <div style="margin:10px 10px 0 0">{{account.name}}
                      <small>{{account.accountType.name}}</small>
                    </div>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-3 col-form-label text-right control-label">Customer</label>
            <div class="col-sm-9">
              <p-autoComplete required placeholder="Search..." [forceSelection]="true"
                [ngStyle]="{'border-color': 'red'}" [(ngModel)]="customer" [suggestions]="customers" field="name"
                name="customerName" (completeMethod)="onSearchCustomer($event)" [style]="{'width':'95%'}"
                [inputStyle]="{'width': '85%'}" [dropdown]="true">
                <ng-template let-customer pTemplate="customerTemplate">
                  <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                    <div style="margin:10px 10px 0 0">{{customer.name}} <br />
                      <small><i class="fa fa-envelope-o"></i> {{customer.email}}</small>
                    </div>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-3 col-form-label text-right control-label">Value</label>
            <div class="col-sm-3">
              <input required class="form-control" type="number" name="value" [(ngModel)]="ledger.value">
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-3 col-form-label text-right control-label">Effective Date</label>
            <div class="col-sm-9">
              <p-calendar required [(ngModel)]="effectiveDate" name="effectiveDate" dateFormat="mm-dd-yy"
                [showIcon]="true" [readonlyInput]="true">
              </p-calendar>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="!roleForm.form.valid">
            <i class="fa fa-save"></i> Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>