<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Ledger Showcase</h3>
      </div>
      <div class="modal-body" *ngIf="active">
        <div class="row margin-bottom-10">
          <div class="col-md-6">
            <label class="margin-15">Account* </label>
            <p-autoComplete placeholder="Search..." [forceSelection]="true" [ngStyle]="{'border-color': 'red'}" [(ngModel)]="account"
              [suggestions]="accounts" field="name" name="accountName" (completeMethod)="onSearchAccount($event)"></p-autoComplete>
          </div>
          <div class="col-md-6">
            <label class="margin-15">Customer* </label>
            <p-autoComplete placeholder="Search..." [forceSelection]="true" [ngStyle]="{'border-color': 'red'}" [(ngModel)]="customer"
              [suggestions]="customers" field="name" name="customerName" (completeMethod)="onSearchCustomer($event)"></p-autoComplete>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="margin-15">Value* </label>
            <input class="form-control value-input" type="number" name="value" [(ngModel)]="ledger.value">
          </div>
          <div class="col-md-6">
            <label class="margin-15">Effective Date* </label>
            <p-calendar [(ngModel)]="effectiveDate"></p-calendar>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="save()">
          <i class="fa fa-save"></i>
          <span>Save</span>
        </button>
      </div>

    </div>
  </div>
</div>