<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="remoteMachine" value="DEV11"/>
    <add key="root" value="http://local"/>
    <add key="TaxMethod" value="FIFO"/>
  </appSettings>

  <connectionStrings>
    <add name="PositionMasterDB" connectionString="Data Source=DEV11;Initial Catalog=PositionMaster;Persist Security Info=True;User ID=ggtuser;Password=ggtuser" providerName="System.Data.SqlClient" />
    <add name="PriceMasterDB" connectionString="Data Source=DEV11;Initial Catalog=PriceMaster;Persist Security Info=True;User ID=ggtuser;Password=ggtuser" providerName="System.Data.SqlClient" />
    <add name="SecurityMasterDB" connectionString="Data Source=DEV11;Initial Catalog=SecurityMaster;Persist Security Info=True;User ID=ggtuser;Password=ggtuser" providerName="System.Data.SqlClient" />
    <add name="FinanceDB" connectionString="Data Source=DEV11;Initial Catalog=FundAccounting;Persist Security Info=True;User Id=ggtuser;Password=ggtuser" providerName="System.Data.SqlClient" />
  </connectionStrings>

 
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="default" xsi:type="File"
        fileName="C:\logs\app-log.txt"
        archiveFileName="c:\logs\archives\app-log.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7" />
      <target name="errors" xsi:type="File"
        fileName="c:\logs\app-errors.txt"
        archiveFileName="c:\logs\archives\app-errors.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7" />

      <target xsi:type="ColoredConsole" name="ConsoleLogs" useDefaultRowHighlightingRules="false"
                  layout="${longdate}|${level:uppercase=true}|${logger}|${message}">
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      </target>
      
    </targets>
    <rules>
      <logger name="*" writeTo="ConsoleLogs" />
      <logger name="*" writeTo="default" />
      <logger name="*" minlevel="Error" writeTo="errors" />
    </rules>
  </nlog>

</configuration>