<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="PositionMasterDB" connectionString="Data Source=DEV05;Initial Catalog=PositionMaster;Persist Security Info=True;User ID=ggtuser;Password=ggtuser" providerName="System.Data.SqlClient" />
    <add name="PriceMasterDB" connectionString="Data Source=DEV05;Initial Catalog=PriceMaster;Persist Security Info=True;User ID=ggtuser;Password=ggtuser" providerName="System.Data.SqlClient" />
    <add name="FinanceDB" connectionString="Data Source=DEMO01;Initial Catalog=FundAccounting;Persist Security Info=True;User Id=ggtuser;Password=ggtuser" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>