<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="remoteMachine" value="SIT01"/>
    <add key="root" value="http://SIT01"/>
    <add key="TaxMethod" value="MINTAX"/>
    <add key="Client" value="bayberry"/>
    <add key="FromEmail" value=""/>
    <add key="FromName" value="LightPointFT"/>
  </appSettings>

  <connectionStrings>
    <add name="PositionMasterDB" connectionString="Data Source=SIT01;Initial Catalog=PositionMaster;Persist Security Info=True;User ID=ggtuser;Password=ggtuser" providerName="System.Data.SqlClient" />
    <add name="PriceMasterDB" connectionString="Data Source=SIT01;Initial Catalog=PriceMaster;Persist Security Info=True;User ID=ggtuser;Password=ggtuser" providerName="System.Data.SqlClient" />
    <add name="SecurityMasterDB" connectionString="Data Source=SIT01;Initial Catalog=SecurityMaster;Persist Security Info=True;User ID=ggtuser;Password=ggtuser" providerName="System.Data.SqlClient" />

    <add name="Source_FinanceDB" connectionString="Data Source=SIT01;Initial Catalog=FundAccounting;Persist Security Info=True;User Id=ggtuser;Password=ggtuser" providerName="System.Data.SqlClient" />

    <add name="FinanceDB" connectionString="Data Source=DEV11;Initial Catalog=FundAccounting;Persist Security Info=True;User Id=ggtuser;Password=ggtuser" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="smtp.gmail.com"
                 port="587"
                 userName=""
                 password=""
                 enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>