<!-- Action Buttons Form -->
<form>

  <!-- Form Row -->
  <div class="form-row">

    <!-- Date Filter -->
    <div class="col-auto">
      <input ngxDaterangepickerMd class="form-control" type="text" autocomplete="off" placeholder="Choose date"
        [(ngModel)]="selected" name="selectedDaterange" [ranges]="ranges" [showClearButton]="true"
        [alwaysShowCalendars]="true" (ngModelChange)="ngModelChange($event)" [keepCalendarOpeningWithRange]="true" />
    </div>
    <!-- Date Filter Ends -->

    <!-- Clear Filters -->
    <div class="col-auto">
      <button (click)="clearExternalFilter()" class="btn btn-pa" tooltip="Clear" placement="top">
        <i class="fa fa-remove"></i>
      </button>
    </div>
    <!-- Clear Filters Ends -->

    <!-- Grid Utils Container -->
    <div class="ml-auto mr-3">

      <!-- Grid Utils Starts -->
      <app-grid-utils class="mr-0" [utilsConfig]="utilsConfig" [gridOptions]="dailyPnlGrid" (refresh)="refreshGrid()">
      </app-grid-utils>
      <!-- Grid Utils Ends -->

      <!-- Expand/Collapse Button -->
      <ng-template #tooltipTemplate>{{dailyPnLConfig.chartsView ? 'Expand' : 'Collapse'}}</ng-template>
      <button class="btn btn-pa" [disabled]="disableCharts" [tooltip]="tooltipTemplate" placement="top"
        (click)="dailyPnLConfig.chartsView = !dailyPnLConfig.chartsView">
        <i class="fa"
          [ngClass]="{'fa-arrow-right': dailyPnLConfig.chartsView, 'fa-arrow-left': !dailyPnLConfig.chartsView}"></i>
      </button>
      <!-- Expand/Collapse Button Ends -->

    </div>
    <!-- Grid Utils Container Ends -->

  </div>
  <!-- Form Row Ends -->

</form>
<!-- Action Buttons Form Ends -->

<!-- Grid/Charts Row Starts -->
<div [ngStyle]="styleForHeight">

  <!-- Main Split Row Starts -->
  <div class="split-area row h-100">

    <!-- AS Split Main Container -->
    <as-split class="pl-15 pr-15" disabled="false" direction="horizontal" [useTransition]="dailyPnLConfig.useTransition"
      (dragEnd)="applyPageLayout($event)" (transitionEnd)="applyPageLayout($event)">

      <!-- Daily PnL Split Area -->
      <as-split-area [visible]="dailyPnLConfig.dailyPnLView" [size]="dailyPnLConfig.dailyPnLSize" order="1">

        <ag-grid-angular class="h-100 ag-theme-balham" [gridOptions]="dailyPnlGrid">
        </ag-grid-angular>

      </as-split-area>
      <!-- Daily PnL Split Area Ends -->

      <!-- Charts Split Area -->
      <as-split-area [visible]="dailyPnLConfig.chartsView" [size]="dailyPnLConfig.chartsSize" order="2">

        <app-calculation-graphs *ngIf="dailyPnLConfig.chartsView" class="w-100 h-100" [chartObject]="graphObject"
          [mode]="'single'">
        </app-calculation-graphs>

      </as-split-area>
      <!-- Charts Split Area Ends -->

    </as-split>
    <!-- AS Split Main Container Ends -->

  </div>
  <!-- Main Split Row Ends -->

</div>
<!-- Grid/Charts Row Ends -->