<!----- Navbar start ----->
<div class="row">
  <div class="col-sm-2 btn-group" dropdown>
      <!-- <button (click)="addAccount()" class="btn btn-primary blue ml-auto">
          <i class="fa fa-plus"></i> Add Account
      </button> -->
      <!-- <div  -->
        <button id="button-basic" dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
          Create Account <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu ml-3"
            role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><button class="dropdown-item" >Account Categories</button></li>
            <div class="dropdown-divider"></div>
            <li *ngFor="let accountCategory of accountCategories" role="menuitem">
              <button class="dropdown-item" (click)="accountCategorySelected(accountCategory)">
                  {{ accountCategory.Name }}
              </button>
            </li>
        </ul>
      <!-- <select 
        class="form-control" 
        #accCategory 
        (change)="selectedAccountCategory(accCategory.value)">
          <option [ngValue]="null" selected="Account Categories" disabled>Account Categories</option>
          <option *ngFor="let accountCategory of accountCategories" [ngValue]="accountCategory">
            {{ accountCategory.name }}   
          </option>
      </select> -->
  </div>
  <div class="col-sm-7"></div>
 <div class="col-sm-3" style="text-align:right"  >   
   <button (click)="onBtExport()" class="btn btn-info ml-auto">
      <i class="fa fa-angle-double-down" style="font-size:24px"></i> Export to Excel</button>    
  </div>
</div>
<!----- Navbar end ----->
<hr/>
 
<p-tabView [ngStyle]="style">
    
    <p-tabPanel header="Accounts" [ngStyle]="style">  
       
      <!----- Div To Measure Identifier starts ----->
      <div #divToMeasure>
         
        <!----- Style For Height ----->
        <div [ngStyle]="styleForHight"> 
          <!----- Ag Grid Start ----->
          <ag-grid-angular
              class="ag-theme-balham"
              style="height: 100%; width: 100%"
              [gridOptions]="gridOptions"
              >
          </ag-grid-angular>
          <!----- Action buttons ----->
          <ng-template #actionButtons let-row>
            <button class="btn btn-info fixHeight" (click)="editRow(row)">Edit</button>
            <button 
              [disabled]="row.has_journal == 'Yes'" 
              class="btn btn-danger fixHeight" 
              (click)="deleteRow(row)">
                Delete
            </button>
          </ng-template>
        </div>
      </div>
      <!----- Div To Measure Identifier ends ----->
    </p-tabPanel>
  </p-tabView>

<app-create-account #createModal [selectedAccCategory]="selectedAccountCategory" (modalClose)="getAccountsRecord()"></app-create-account>
<router-outlet></router-outlet>