
<div class="row">
  <div class="col-sm-3">
      <button (click)="addAccount()" class="btn btn-primary blue ml-auto">
          <i class="fa fa-plus"></i> Add Account
      </button>
  </div>
</div>

<hr/>


<div #divToMeasure>
  <div [ngStyle]="styleForHight"> 
    <ag-grid-angular
        style="width: 76%; height: 100%"
        class="ag-theme-balham"
        [gridOptions]="gridOptions"
        >
    </ag-grid-angular>
    <ng-template #actionButtons let-row>
      <button style="height: 21px" class="btn btn-info" (click)="editRow(row)">Edit</button>
      <button [disabled]="row.has_journal == 'Yes'" style="height: 21px" class="btn btn-danger" (click)="deleteRow(row)">Delete</button>
    </ng-template>
  </div>
</div>
<app-create-account #createModal (modalClose)="refreshGrid()" ></app-create-account>

<router-outlet></router-outlet>