<div class="account-detail-wrap">
  <div class="d-flex justify-content-between title-bg-color">
    <div>
      <h3>Third Party Accounts</h3>
    </div>
    <!-- Save Button -->
    <div class="row justify-content-end" style="padding: 7px;">
      <div class="col-auto">
        <button type="submit" class="btn btn-info">
          <i class="fa fa-save"></i>
          Commit
          <span *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </div>

    <!-- Save Button Ends -->
  </div>
<div class="guide-placeholder">
  Select account(s) from the left grid to start mapping.
</div>
  <div class="main-wrapper">
    <!--1st Row-->
    <div class="d-flex flex-direction-row div-pad">
      <div style="width: 25%;">
        <label>Select Third Party</label>
      </div>
      <div style="width: 50%;">
        <select
          class="custom-select"
          [(ngModel)]="organisation"
          (change)="selectOrganisation($event)"
          formControlName="type"
          required
        >
          <option hidden [value]="0">Choose your account type</option>
          <option *ngFor="let org of dropdownArr; let i = index">
            {{ org.Name }}
          </option>
        </select>
      </div>
      <!--End 1st Row-->
    </div>

    <!--2nd Row-->
    <div class="d-flex flex-direction-row">
      <div style="width: 24.7%;">
        <label>Select Account</label>
      </div>
      <div style="width: 49.6%;">
        <!--Searchable Dropdown-->
        <div>
          <input
            [(ngModel)]="selected"
            typeaheadOptionField="name"
            [isAnimated]="true"
            [typeahead]="states"
            typeaheadWaitMs="400"
            (typeaheadNoResults)="typeaheadNoResults($event)"
            [typeaheadScrollable]="true"
            [typeaheadOptionsInScrollableView]="15"
            [typeaheadMinLength]="0"
            [typeaheadIsFirstItemActive]="true"
            placeholder="Select Account"
            (typeaheadOnSelect)="onSelect($event)"
            required
            class="form-control"
          />
        </div>
        <div class="cust-alert text-danger" *ngIf="noResult">No Results Found</div>
        <!--End Searchable Dropdown-->
      </div>
      <!--Plus Icon-->
      <div *ngIf="selected" class="d-flex align-items-center ml-2">
        <i class="fa fa-plus-circle icon-plus" (click)="addAccount()" aria-hidden="true"></i>
        <!--End Plus Icon-->
      </div>
      <!--End 2nd Row-->
    </div>

    <div *ngIf="accountDetailList.length > 0" style="overflow-y: auto;max-height: 365px;">
      <div class="d-flex flex-direction-row" *ngFor="let list of accountDetailList">
        <div class="select-detail-wrap">
          <div class="d-flex justify-content-between title-bg-color">
            <div class="align-items-center" style="width: 40%; padding: 7px 0px 0px 0;">
              <h6>{{ list.organisation }}</h6>
            </div>

            <div style="width: 20%; font-size: 20px;">|</div>

            <div class="align-items-center" style="width: 40%; padding: 7px 0px 0px 0;">
              <h6 style="text-align: right;">
                {{ list.accountName }}
              </h6>
            </div>
          </div>
        </div>

        <div class="d-flex align-items-center ml-2" style=" padding: 18px 0px 0px 0;">
          <i
            class="fa fa-minus-circle icon-red"
            (click)="deleteAccount(list)"
            aria-hidden="true"
          ></i>
        </div>
      </div>
    </div>
  </div>
</div>
