<!-- Account Mapping Modal Div Starts -->
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: modal-backdrop}">

  <!-- Modal Dialog Div Starts -->
  <div class="modal-dialog modal-dialog-centered" id="modal-lg">

    <!-- Modal Content Div Starts -->
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h3>Account Mapping</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="onClose()">&times;</button>
      </div>
      <!-- Modal Header Ends-->

      <!-- Modal Body Starts -->
      <div class="modal-body">
        <!-- Main Wrapper -->
        <div class="main-wrapper">

          <p>Select a third party account for mapping.</p>

          <!-- Third Party Organization Name Row -->
          <div class="d-flex flex-direction-row mt-2">
            <p class="w-25">Organization: </p>
            <p class="w-75 text-muted">Name</p>
          </div>
          <!-- Third Party Row Organization Name Ends -->

          <!-- Account Name Row-->
          <div class="d-flex flex-direction-row mt-2">
            <div class="w-25">
              <label>Select Account</label>
            </div>
            <div class="w-75">
              <!--Searchable Dropdown-->
              <div>
                <input [(ngModel)]="selected" typeaheadOptionField="AccountName" [isAnimated]="true"
                  [typeahead]="states" typeaheadWaitMs="400" (typeaheadNoResults)="typeaheadNoResults($event)"
                  [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="15" [typeaheadMinLength]="0"
                  [typeaheadIsFirstItemActive]="true" placeholder="Select Account"
                  (typeaheadOnSelect)="onSelect($event)" required class="form-control" />
              </div>
              <div class="cust-alert text-danger" *ngIf="noResult">No Results Found</div>
              <!--End Searchable Dropdown-->
            </div>
            <!--Plus Icon-->
            <div *ngIf="selected" class="d-flex align-items-center ml-2">
              <i class="fa fa-plus-circle icon-plus" (click)="addAccount()" aria-hidden="true"></i>
              <!--End Plus Icon-->
            </div>

          </div>
          <!-- Account Name Row Ends-->

          <div class="list-wrapper" *ngIf="accountDetailList.length > 0">
            <div class="d-flex flex-direction-row" *ngFor="let list of accountDetailList">
              <div class="select-detail-wrap">
                <div class="d-flex justify-content-between title-bg-color">
                  <div class="align-items-center width-40" style="padding: 7px 0px 0px 0;">
                    <h6>{{ list.ThirdPartyAccountName }}</h6>
                  </div>

                  <div class="fz-20 width-20">|</div>

                  <div class="align-items-center ac-name">
                    <h6 class="text-right">
                      {{ list.OrganizationName }}
                    </h6>
                  </div>
                </div>
              </div>

              <div class="d-flex align-items-center ml-2" style="padding: 18px 0px 0px 0;">
                <i class="fa fa-minus-circle icon-red" (click)="deleteAccount(list)" aria-hidden="true"></i>
              </div>
            </div>
          </div>

        </div>
        <!-- Main Wrapper Ends -->

      </div>
      <!-- Modal Body Ends -->

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">Cancel</button>
        <button type="button" class="btn btn-pa" (click)="onSave()">
          <i class="fa fa-save"></i> Save
        </button>
      </div>
      <!-- Modal Footer Ends-->

    </div>
    <!-- Modal Content Div Ends -->

  </div>
  <!-- Modal Dialog Div Ends -->

</div>
<!-- Account Mapping Modal Div Ends -->