{
  "development": {
    "database": "finance_db",
    "username": "postgres",
    "password": "postgres",
    "host": "localhost",
    "dialect": "postgres",
    "logging": false
  },
  "test": {
    "database": "finance_db_test",
    "username": "",
    "password": "",
    "host": "",
    "dialect": "postgres",
    "logging": false
  },
  "production": {
    "database": "",
    "username": "",
    "password": "",
    "host": "",
    "dialect": "postgres",
    "logging": false
  }
}
