<div class="row mb-3">

    <div class="col-auto">
        <input type="text" autocomplete="off" placeholder="Filter by Symbol" name="symbol" [(ngModel)]="filterBySymbol"
            (ngModelChange)="ngModelChangeSymbol($event)" (keyup)="onSymbolKey($event)" class="form-control" />
    </div>

    <div class="col-auto mt-2">
        <label class="mr-3"><input type="checkbox" id="excludedCheckBox" [(ngModel)]="filterByExcludedTrades"
                (ngModelChange)="ngModelChangeExcluded($event)">
            Excluded Trades</label>
        <label><input type="checkbox" id="manualCheckBox" [(ngModel)]="filterByUploadedTrades"
                (ngModelChange)="ngModelChangeManual($event)">
            Uploaded Trades</label>
    </div>

</div>

<ag-grid-angular class="w-100 height-40 ag-theme-balham" [gridOptions]="gridOptions"
    (rowSelected)="onRowSelected($event)" [rowData]="rowData">
</ag-grid-angular>

<app-data-modal #dataModal [title]="title">
</app-data-modal>

<app-create-dividend #dividendModal (modalClose)="closeDividendModal()">
</app-create-dividend>

<app-create-stock-splits #stockSplitsModal (modalClose)="closeStockSplitModal()">
</app-create-stock-splits>

<app-create-security #securityModal (modalClose)="closeSecurityModal()"></app-create-security>

<app-exclude-trade #tradeExclusionModal (refreshData)="refreshGrid()"></app-exclude-trade>

<app-confirmation-modal #confirmationModal [title]="'Reverse Trade Exclusion'" (confirmed)="reverseTradeExclusion()"
    (canceled)="cancelTradeExclusionReversal()">
</app-confirmation-modal>