<!-- Modal Div Starts -->
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: modal-backdrop}">

  <!-- Modal Dialog Div Starts -->
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-lg">

    <!-- Modal Content Div Starts -->
    <div class="modal-content">

      <!-- Form Div Starts -->
      <form #journalForm="ngForm" (ngSubmit)="saveJournal()">

        <!-- Modal Header Starts-->
        <div class="modal-header">
          <h3 *ngIf="!editJournal"> Create Journal </h3>
          <h3 *ngIf="editJournal"> Edit Journal </h3>
          <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
        </div>
        <!-- Modal Header Ends-->

        <!-- Loading Spinner -->
        <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center height-50vh">
          <lp-loading></lp-loading>
        </div>
        <!-- Loading Spinner Ends -->

        <!-- Modal Body Starts-->
        <div [hidden]="isLoading" class="modal-body">

          <!-- No Result Alert -->
          <alert *ngIf="noResult" type="danger" [dismissible]="true">
            <strong>Warning!</strong> Please, only select values from the dropdown!
          </alert>
          <!-- No Result Alert Ends -->

          <!-- Fund Div Starts -->
          <div class="form-group">
            <div class="row">
              <!-- Fund Label -->
              <div class="col-sm-3">
                <label> Fund </label>
              </div>
              <!-- Fund Drop Down -->
              <div class="col-sm-9">
                <select class="form-control custom-select" name="fund" ngModel required>
                  <option selected disabled value="">Select fund type</option>
                  <option *ngFor="let fund of funds" [ngValue]="fund.FundCode">
                    {{ fund.FundCode }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- Fund Div Ends -->

          <!-- To Account Section -->
          <div class="form-group">

            <hr>
            <!-- To Account Label -->
            <div class="row">
              <div class="col-9">
                <h6>To Account</h6>
              </div>
              <div class="col-3">
                <select class="form-control custom-select" name="toAccountEntryType" (change)=onToEntrySelect($event)
                  ngModel required>
                  <option selected disabled value="">Entry type</option>
                  <option *ngFor="let entryType of entryTypes" [value]="entryType.value">
                    {{ entryType.name }}
                  </option>
                </select>
              </div>
            </div>
            <!-- To Account Label Ends -->

            <!-- Account Category / Type Row -->
            <div class="row mt-2">

              <!-- Account Category TypeAhead -->
              <div class="col-sm-6">
                <input class="form-control" placeholder="Select account category" autocomplete="off"
                  typeaheadWaitMs="500" [isAnimated]="true" [typeaheadScrollable]="true"
                  [typeaheadIsFirstItemActive]="true" [typeaheadMinLength]="0" [typeaheadOptionsInScrollableView]="15"
                  [typeahead]="toAccountCategories" typeaheadOptionField="name"
                  (typeaheadNoResults)="typeaheadNoResults($event)"
                  (typeaheadOnSelect)="onToAccountCategorySelected($event)"
                  (ngModelChange)="onToAccountCategoryChange($event)" ngModel name="toAccountCategory" required />
              </div>
              <!-- Account Category TypeAhead Ends -->

              <!-- Account Type TypeAhead -->
              <div [ngClass]="{'col-sm-6': !isFetchingToAccountTypes, 'col-sm-5': isFetchingToAccountTypes}">
                <input [disabled]="isFetchingToAccountTypes" class="form-control" placeholder="Select account type"
                  autocomplete="off" typeaheadWaitMs="500" [isAnimated]="true" [typeaheadScrollable]="true"
                  [typeaheadIsFirstItemActive]="true" [typeaheadMinLength]="0" [typeaheadOptionsInScrollableView]="15"
                  [typeahead]="toAccountTypes" typeaheadOptionField="name"
                  (typeaheadNoResults)="typeaheadNoResults($event)"
                  (typeaheadOnSelect)="onToAccountTypeSelected($event)" ngModel name="toAccountType" required />
              </div>
              <!-- Account Type TypeAhead Ends -->

              <!-- Loader -->
              <div *ngIf="isFetchingToAccountTypes" class="col-sm-1 loader-wrapper">
                <lp-loading [loadingText]="false"></lp-loading>
              </div>
              <!-- Loader Ends -->

            </div>
            <!-- Account Category / Type Row Ends -->

            <!-- Symbol / Currency Row -->
            <div class="row mt-2">

              <!-- Symbol TypeAhead -->
              <div class="col-sm-6">
                <input class="form-control" placeholder="Select a symbol" autocomplete="off" typeaheadWaitMs="500"
                  [isAnimated]="true" [typeaheadScrollable]="true" [typeaheadIsFirstItemActive]="true"
                  [typeaheadMinLength]="0" [typeaheadOptionsInScrollableView]="15" [typeahead]="symbols"
                  (typeaheadNoResults)="typeaheadNoResults($event)" ngModel name="toAccountSymbol" required />
              </div>
              <!-- Symbol TypeAhead Ends -->

              <!-- Currency TypeAhead -->
              <div class="col-sm-6">
                <input class="form-control" placeholder="Select a currency" autocomplete="off" typeaheadWaitMs="500"
                  [isAnimated]="true" [typeaheadScrollable]="true" [typeaheadIsFirstItemActive]="true"
                  [typeaheadMinLength]="0" [typeaheadOptionsInScrollableView]="15" [typeahead]="currencies"
                  (typeaheadNoResults)="typeaheadNoResults($event)" ngModel name="toAccountCurrency" required />
              </div>
              <!-- Currency TypeAhead Ends -->

            </div>
            <!-- Account Category / Type Row Ends -->

          </div>
          <!-- To Account Section Ends -->

          <!-- Account From Section -->
          <div class="form-group">

            <hr>
            <!-- From Account Label -->
            <div class="row">
              <div class="col-9">
                <h6>From Account</h6>
              </div>
              <div class="col-3">
                <select disabled class="form-control custom-select" name="fromAccountEntryType" ngModel>
                  <option selected disabled value="">Entry type</option>
                  <option *ngFor="let entryType of entryTypes" [value]="entryType.value">
                    {{ entryType.name }}
                  </option>
                </select>
              </div>
            </div>
            <!-- Account From Label Ends -->

            <!-- Account Category / Type Row -->
            <div class="row mt-2">

              <!-- Account Category TypeAhead -->
              <div class="col-sm-6">
                <input class="form-control" placeholder="Select account category" autocomplete="off"
                  typeaheadWaitMs="500" [isAnimated]="true" [typeaheadScrollable]="true"
                  [typeaheadIsFirstItemActive]="true" [typeaheadMinLength]="0" [typeaheadOptionsInScrollableView]="15"
                  [typeahead]="fromAccountCategories" typeaheadOptionField="name"
                  (typeaheadNoResults)="typeaheadNoResults($event)"
                  (typeaheadOnSelect)="onFromAccountCategorySelected($event)" #fromAccountCategoryTypeahead="ngModel"
                  (ngModelChange)="onFromAccountCategoryChange($event)" ngModel name="fromAccountCategory"
                  [required]="fromAccountTypeTypeahead.value !== '' || fromAccountSymbolTypeahead.value !== '' || fromAccountCurrencyTypeahead.value !== ''" />
              </div>
              <!-- Account Category TypeAhead Ends -->

              <!-- Account Type TypeAhead -->
              <div [ngClass]="{'col-sm-6': !isFetchingFromAccountTypes, 'col-sm-5': isFetchingFromAccountTypes}">
                <input [disabled]="isFetchingFromAccountTypes" class="form-control" placeholder="Select account type"
                  autocomplete="off" typeaheadWaitMs="500" [isAnimated]="true" [typeaheadScrollable]="true"
                  [typeaheadIsFirstItemActive]="true" [typeaheadMinLength]="0" [typeaheadOptionsInScrollableView]="15"
                  [typeahead]="fromAccountTypes" typeaheadOptionField="name"
                  (typeaheadNoResults)="typeaheadNoResults($event)"
                  (typeaheadOnSelect)="onFromAccountTypeSelected($event)" #fromAccountTypeTypeahead="ngModel" ngModel
                  name="fromAccountType"
                  [required]="fromAccountCategoryTypeahead.value !== '' || fromAccountSymbolTypeahead.value !== '' || fromAccountCurrencyTypeahead.value !== ''" />
              </div>
              <!-- Account Type TypeAhead Ends -->

              <!-- Loader -->
              <div *ngIf="isFetchingFromAccountTypes" class="col-sm-1 loader-wrapper">
                <lp-loading [loadingText]="false"></lp-loading>
              </div>
              <!-- Loader Ends -->

            </div>
            <!-- Account Category / Type Row Ends -->

            <!-- Symbol / Currency Row -->
            <div class="row mt-2">

              <!-- Symbol TypeAhead -->
              <div class="col-sm-6">
                <input class="form-control" placeholder="Select a symbol" autocomplete="off" typeaheadWaitMs="500"
                  [isAnimated]="true" [typeaheadScrollable]="true" [typeaheadIsFirstItemActive]="true"
                  [typeaheadMinLength]="0" [typeaheadOptionsInScrollableView]="15" [typeahead]="symbols"
                  (typeaheadNoResults)="typeaheadNoResults($event)" #fromAccountSymbolTypeahead="ngModel" ngModel
                  name="fromAccountSymbol"
                  [required]="fromAccountCategoryTypeahead.value !== '' || fromAccountTypeTypeahead.value !== '' || fromAccountCurrencyTypeahead.value !== ''" />
              </div>
              <!-- Symbol TypeAhead Ends -->

              <!-- Currency TypeAhead -->
              <div class="col-sm-6">
                <input class="form-control" placeholder="Select a currency" autocomplete="off" typeaheadWaitMs="500"
                  [isAnimated]="true" [typeaheadScrollable]="true" [typeaheadIsFirstItemActive]="true"
                  [typeaheadMinLength]="0" [typeaheadOptionsInScrollableView]="15" [typeahead]="currencies"
                  (typeaheadNoResults)="typeaheadNoResults($event)" #fromAccountCurrencyTypeahead="ngModel" ngModel
                  name="fromAccountCurrency"
                  [required]="fromAccountCategoryTypeahead.value !== '' || fromAccountTypeTypeahead.value !== '' || fromAccountSymbolTypeahead.value !== ''" />
              </div>
              <!-- Currency TypeAhead Ends -->

            </div>
            <!-- Account Category / Type Row Ends -->

          </div>
          <!-- Account From Section Ends -->

          <!-- As Of Date Div Starts -->
          <div class="form-group">
            <!-- As Of Date Label -->
            <div class="row">
              <div class="col-sm-3">
                <label> As Of </label>
              </div>
              <!-- As Of DatePicker -->
              <div class="col-sm-9">
                <input ngxDaterangepickerMd class="form-control" type="text" autocomplete="off"
                  placeholder="Choose a date" name="selectedAsOfDate" [(ngModel)]="selectedAsOfDate" required
                  [singleDatePicker]="true" [maxDate]="maxDate" [autoApply]="true"
                  (ngModelChange)="onDatesChanged($event)" />
              </div>
            </div>
          </div>
          <!-- As Of Date Div Ends -->

          <!-- Value Div Starts-->
          <div class="form-group">
            <div class="row">
              <!-- Value Label -->
              <div class="col-sm-3">
                <label> Value </label>
              </div>
              <!-- Value Input -->
              <div class="col-sm-9">
                <input class="form-control" type="number" step=".05" name="value" ngModel required>
              </div>
            </div>
          </div>
          <!-- Value Div Ends-->

          <!-- Comments Div Starts -->
          <div class="form-group">
            <!-- Comments Label -->
            <div class="row">
              <div class="col-sm-3">
                <label> Comments </label>
              </div>
              <!-- Comments Input -->
              <div class="col-sm-9">
                <textarea class="form-control" rows="2" name="comments" ngModel required></textarea>
              </div>
            </div>
          </div>
          <!-- Comments Div Ends -->

        </div>
        <!-- Modal Body Ends-->

        <!-- Modal Footer Starts -->
        <div class="modal-footer">

          <button *ngIf="editJournal" type="button" class="btn btn-danger mr-auto" [disabled]="isDeleting"
            (click)="deleteJournal()"><i class="fa fa-trash"></i> Delete
            <span *ngIf="isDeleting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>

          <button type="button" class="btn btn-secondary" (click)="closeModal()">
            <i class="fa fa-times" aria-hidden="true"></i> Cancel
          </button>

          <button type="submit" class="btn btn-pa" [ngClass]="{'cursor-not-allowed': !journalForm.valid}"
            [disabled]="!journalForm.valid || !isAsOfDateValid || isSaving">
            <i class="fa" [ngClass]=" {'fa-edit':editJournal, 'fa-save':!editJournal}"></i>
            {{editJournal ? "Update" : "Save"}}
            <span *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>

        </div>
        <!-- Modal Footer Ends -->

      </form>
      <!-- Form Div Ends -->

    </div>
    <!-- Modal Content Div Ends -->

  </div>
  <!-- Modal Dialog Div Ends -->

</div>
<!-- Modal Div Ends -->