<!-- Modal Div Starts -->
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: modal-backdrop}">

  <!-- Modal Dialog Div Starts -->
  <div class="modal-dialog modal-lg modal-dialog-centered" id="modal-lg">

    <!-- Modal Content Div Starts -->
    <div class="modal-content">

      <!-- Form Div Starts -->
      <form #journalForm="ngForm" (ngSubmit)="saveJournal()">

        <!-- Modal Header Starts-->
        <div class="modal-header">
          <h3 *ngIf="!editJournal"> Create Journal </h3>
          <h3 *ngIf="editJournal"> Edit Journal </h3>
          <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
        </div>
        <!-- Modal Header Ends-->

        <!-- Modal Body Starts-->
        <div class="modal-body">
          <!-- Fund Div Starts -->
          <div class="form-group">
            <div class="row">
              <!-- Fund Label -->
              <div class="col-sm-3">
                <label> Fund </label>
              </div>
              <!-- Fund Drop Down -->
              <div class="col-sm-9">
                <!-- <select [(ngModel)]="accTypeId"  -->
                <select class="custom-select" name="fund" ngModel required>
                  <option selected disabled value="">Select fund type</option>
                  <option *ngFor="let fund of funds" [ngValue]="fund.FundCode">
                    {{ fund.FundCode }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- Fund Div Ends -->

          <!-- To Account Div Starts -->
          <div class="form-group">
            <!-- To Account Label -->
            <div class="row">
              <div class="col-sm-3">
                <label> Account To </label>
              </div>
              <!-- TO Account Drop Down -->
              <div class="col-sm-6">
                <!-- <select class="custom-select" name="toAccount" (change)=onAccountSelect() ngModel required>
                  <option selected disabled value="">Choose your to account</option>
                  <ng-container *ngFor="let account of allAccounts; trackBy: trackByFn">
                    <option
                      *ngIf="account.accountId !== fromAccountCheck && account.accountId !== dummyAccount.accountId"
                      [ngValue]="account">
                      {{ account.name }}
                    </option>
                  </ng-container>
                </select> -->

                <input class="form-control" placeholder="Choose your to account" [(ngModel)]="selectedAccountTo" (ngModelChange)="accountToChange($event)" required 
                name="AccountTo" typeaheadOptionField="name" [isAnimated]="true" [typeahead]="accountTo" typeaheadWaitMs="500" 
                (typeaheadNoResults)="typeaheadNoResults($event)" [typeaheadScrollable]="true" 
                [typeaheadOptionsInScrollableView]="15" [typeaheadMinLength]="0" [typeaheadIsFirstItemActive]="true" 
                (typeaheadOnSelect)="onSelectAccountTo($event)" autocomplete="off" />
              </div>

              <!-- To Account Value Type Drop Down -->
              <div class="col-sm-3">
                <select class="custom-select" name="toAccountValueType" (change)=onToEntrySelect($event) ngModel
                  required>
                  <option selected disabled value="">Entry type</option>
                  <option *ngFor="let valueType of valueTypes" [value]="valueType.value">
                    {{ valueType.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- To Account Div Ends -->

          <!-- From Account Div Starts -->
          <div class="form-group">
            <div class="row">
              <!-- From Account Label -->
              <div class="col-sm-3">
                <label> Account From </label>
              </div>
              <!-- From Account Drop Down -->
              <div class="col-sm-6">
                <!-- <select class="custom-select" name="fromAccount" (change)=onAccountSelect() ngModel>
                  <option selected disabled value="">Choose your from account</option>
                  <ng-container *ngFor="let account of allAccounts; trackBy: trackByFn">
                    <option *ngIf="account.accountId !== toAccountCheck && account.accountId !== dummyAccount.accountId"
                      [ngValue]="account">
                      {{ account.name }}
                    </option>
                  </ng-container>
                </select> -->

                <input [disabled]="contraEntryMode" class="form-control" placeholder="Choose your from account" [(ngModel)]="selectedAccountFrom" (ngModelChange)="accountFromChange($event)" 
                name="AccountFrom" typeaheadOptionField="name" [isAnimated]="true" [typeahead]="accountFrom" typeaheadWaitMs="500" 
                (typeaheadNoResults)="typeaheadNoResults($event)" [typeaheadScrollable]="true" 
                [typeaheadOptionsInScrollableView]="15" [typeaheadMinLength]="0" [typeaheadIsFirstItemActive]="true" 
                (typeaheadOnSelect)="onSelectAccountFrom($event)" autocomplete="off" />
              </div>

              <!-- From Account Value Type Radio Buttons -->
              <div class="col-sm-3">
                <select disabled class="custom-select" name="fromAccountValueType" ngModel>
                  <option selected disabled value="">Entry type</option>
                  <option *ngFor="let valueType of valueTypes" [value]="valueType.value">
                    {{ valueType.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- From Account Div Ends -->

          <!-- As Of Date Div Starts -->
          <div class="form-group">
            <!-- As Of Date Label -->
            <div class="row">
              <div class="col-sm-3">
                <label> As Of </label>
              </div>
              <!-- As Of DatePicker -->
              <div class="col-sm-9">
                <input ngxDaterangepickerMd class="form-control" type="text" autocomplete="off"
                  placeholder="Choose a date" name="selectedAsOfDate" [(ngModel)]="selectedAsOfDate" required
                  [singleDatePicker]="true" [autoApply]="true" (ngModelChange)="onDatesChanged($event)" />
              </div>
            </div>
          </div>
          <!-- As Of Date Div Ends -->

          <!-- Value Div Starts-->
          <div class="form-group">
            <div class="row">
              <!-- Value Label -->
              <div class="col-sm-3">
                <label> Value </label>
              </div>
              <!-- Value Input -->
              <div class="col-sm-9">
                <input class="form-control" type="number" step=".05" name="value" ngModel required>
              </div>
            </div>
          </div>
          <!-- Value Div Ends-->

          <!-- Value Type Div Starts -->
          <div class="form-group">
            <!-- Value Type Label -->
            <div class="row">
              <div class="col-sm-3">
                <label> Comments </label>
              </div>
              <!-- Value Type Drop Down -->
              <div class="col-sm-9">
                <textarea class="form-control" rows="3" name="comments" ngModel required></textarea>
              </div>
            </div>
          </div>
          <!-- Value Type Div Ends -->

        </div>
        <!-- Modal Body Ends-->

        <!-- Modal Footer Starts -->
        <div class="modal-footer">
          <button *ngIf="editJournal" type="button" class="btn btn-danger mr-auto" [disabled]="isDeleting"
            (click)="deleteJournal()"><i class="fa fa-trash"></i>
            Delete
            <span *ngIf="isDeleting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()"><i class="fa fa-times"
              aria-hidden="true"></i> Cancel</button>
          <button type="submit" class="btn btn-pa" [ngClass]="{'cursor-not-allowed': !journalForm.valid}"
            [disabled]="!journalForm.valid || !isAsOfDateValid || isSaving">
            <i class="fa" [ngClass]=" {'fa-edit':editJournal, 'fa-save':!editJournal}"></i>
            {{editJournal ? "Update" : "Save"}}
            <span *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>
        <!-- Modal Footer Ends -->

      </form>
      <!-- Form Div Ends -->

    </div>
    <!-- Modal Content Div Ends -->

  </div>
  <!-- Modal Dialog Div Ends -->

</div>
<!-- Modal Div Ends -->