<div *ngIf="!isNewLayout" class="row mx-auto form-group pl-2 pt-2">
  <select [compareWith]="compareFn" class="form-control layout-dropdown" [(ngModel)]="gridLayoutID"
    (ngModelChange)="restoreLayout($event)">
    <option [ngValue]="{ Id: 0 }" selected>Select Layout</option>
    <option *ngFor="let layout of gridLayouts" [ngValue]="layout" [ngClass]="layout.IsPublic ? 'class-IsPublic' : ''">
      {{ layout.GridLayoutName }}
    </option>
  </select>
</div>

<div *ngIf="isNewLayout" class="row mx-auto form-group layout-input">
  <input class="form-control" placeholder="Layout Name" type="text" [(ngModel)]="layoutName" step=".07" />
  <div class="ml-auto mt-2 mr-4">
    <input type="checkbox" [(ngModel)]="isPublic" name="Public" value="1" />
    Public
  </div>
</div>

<div *ngIf="isNewLayout" class="form-group m-2">
  <div class="row">
    <div class="ml-auto mt-2 mr-3">
      <button class="btn btn-info layout-action" (click)="onCreateNew()">
        Cancel
      </button>
      <button class="btn btn-info layout-action" (click)="onNewSave()">
        Save
      </button>
    </div>
  </div>
</div>

<div *ngIf="!isNewLayout" class="row ml-auto pl-2 layout-action-container">
  <button (click)="onCreateNew()" class="btn btn-info">
    New
  </button>
  <button class="btn btn-info layout-action" [disabled]="isPublicSelected" (click)="onEditSave()">
    Update
  </button>
  <button class="btn btn-info layout-action" [disabled]="isPublicSelected" (click)="onDelete()">
    Delete
  </button>
  <button class="btn btn-info layout-action-reset" (click)="resetState()">
    Reset
  </button>
</div>