<div *ngIf="!isNewLayout" class="row mx-auto form-group pl-2 pt-2">
  <select class="form-control layout-dropdown" id="gridLayoutList_id" [(ngModel)]="gridLayout" (ngModelChange)="restoreLayout($event)">
    <option [ngValue]="initialLayout" selected>Select Layout</option>
    <option *ngFor="let layout of gridLayouts" [ngValue]="layout" [ngClass]="layout.IsPublic ? 'class-IsPublic' : ''">
      {{ layout.GridLayoutName }}
    </option>
  </select>
</div>

<div *ngIf="isNewLayout" class="row mx-auto form-group layout-input">
  <input class="form-control" placeholder="Layout Name" type="text" [(ngModel)]="layoutName" id="layOutName_grid" step=".07" />
  <div class="ml-auto mt-2 mr-4">
    <input type="checkbox" [(ngModel)]="isPublic" name="Public" value="1" />
    Public
  </div>
</div>

<div *ngIf="isNewLayout" class="form-group m-2">
  <div class="row">
    <div class="ml-auto mt-2 mr-3">
      <button class="btn white-blue-button-theme new-layout-action" (click)="onCreateNew()">
        Cancel
      </button>
      <button class="btn white-blue-button-theme new-layout-action" id="saveNewGrid_grid" (click)="onNewSave()">
        Save
      </button>
    </div>
  </div>
</div>

<div *ngIf="!isNewLayout" class="row ml-auto pl-2 layout-action-container">
  <button class="btn white-blue-button-theme layout-action" id="newCustomLayout_grid" (click)="onCreateNew()">
    New
  </button>
  <button class="btn white-blue-button-theme layout-action" id="updateCustomLayout" [disabled]="isPublicSelected" (click)="onEditSave()">
    Update
  </button>
  <button class="btn white-blue-button-theme layout-action" id="deleteCustomLayout" (click)="openModal()">
    Delete
  </button>
  <button class="btn white-blue-button-theme layout-action-reset" id="resetCustomLayout" (click)="resetState()">
    Reset
  </button>
</div>

<app-confirmation-modal #confirmModal [modalTitle]="'Delete Layout'" (confirmDeletion)="onDelete()">
</app-confirmation-modal>