<div bsModal #securityModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: 'static'}">

  <div class="modal-dialog modal-dialog-centered modal-xl" id="modal-xl">
    <div class="modal-content">

        <div class="modal-header color-primary">
            <h3>Extend</h3>
            <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
        </div>

        <!-- No Result Alert -->
        <alert *ngIf="noResult" type="danger" [dismissible]="true">
            <strong>Warning!</strong> Please, only select values from the dropdown!
        </alert>
        <!-- No Result Alert Ends -->

    <form [formGroup]="securityForm" (ngSubmit)="onSubmit()">

        <div class="modal-body">

        <fieldset *ngIf="showFinancing" class="wrap-dates">
            <legend class="dates-heading">Details
        </legend>

        <div class="form-group">

            <div class="row" style="margin: 11px 0">
                <div class="col-sm-2 pl-1 pr-1">
                    <label> Symbol </label>
                </div>

                <div class="col-sm-4 pl-1 pr-1">
                    <input class="form-control"
                        placeholder="Select symbol"
                        formControlName="symbol"
                        [ngClass]="{ 'is-invalid': formFields.symbol.errors && formFields.symbol.invalid && formFields.symbol.touched }"
                        autocomplete="off"
                        typeaheadWaitMs="500"
                        [isAnimated]="true"
                        [typeaheadScrollable]="true"
                        [typeaheadIsFirstItemActive]="true"
                        [typeaheadMinLength]="0"
                        [typeaheadOptionsInScrollableView]="15"
                        [typeahead]="symbol$"
                        (typeaheadOnSelect)="selectedSymbol($event)"
                        (typeaheadNoResults)="typeaheadNoResults($event)"
                    />
                </div>

                <div class="col-sm-2 pr-1">
                    <label> Security Type </label>
                </div>

                <div class="col-sm-4 pl-1 pr-1">
                    <input
                        type="text"
                        class="form-control"
                        formControlName="securityType"
                        readonly
                    />
                </div>
            </div>

            <div class="row" style="margin: 11px 0" >
                <div class="col-sm-2 pl-1 pr-1" [hidden]="!MaturityDate">
                <label> Maturity Date </label>
                </div>
                <div class="col-sm-4 pl-1 pr-1" [hidden]="!MaturityDate">
                    <input
                    ngxDaterangepickerMd
                    formControlName="maturityDate"
                    class="form-control bc-white"
                    type="text"
                    placeholder="Select next financing date"
                    name="maturityDate"
                    [singleDatePicker]="true"
                    [autoApply]="true"
                    autocomplete="off"
                    readonly
                    >
                </div>

                <div class="col-sm-2 pr-1" [hidden]="!ValuationDate">
                    <label>Valuation Date</label>
                    </div>
                    <div class="col-sm-4 pl-1 pr-1" [hidden]="!ValuationDate">
                        <input 
                        ngxDaterangepickerMd
                        formControlName="valuationDate"
                        class="form-control bc-white"
                        type="text"
                        placeholder="Select valuation date"
                        name="valuationDate"
                        [singleDatePicker]="true"
                        [autoApply]="true"
                        autocomplete="off"
                        readonly
                        >
                    </div>

            </div>
            <div class="row m-0">

                <div class="col-sm-2 pl-1 pr-1" *ngIf="SecurityReturnDescription">
                    <label> Security Return Description </label>
                    </div>
                    <div class="col-sm-2 pl-1 pr-1" *ngIf="SecurityReturnDescription">
                        <select class="form-control" formControlName="securityReturnDesc">
                            <option selected disabled value="">Select</option>
                            <option>
                              Bullet
                            </option>
                            <option>
                              Total Return
                            </option>
                          </select>
                    </div>

                <div class="col-sm-2 pl-3 pr-1" *ngIf="Spread">
                    <label> Spread </label>
                    </div>
                    <div class="col-sm-2 pl-1 pr-1" *ngIf="Spread">
                        <input class="form-control" formControlName="spread" type="number" >
                    </div>

                <div class="col-sm-2 pl-3 pr-1" *ngIf="FinancingLeg">
                <label> Financing Leg </label>
                </div>
                <div class="col-sm-2 pl-1 pr-1" *ngIf="FinancingLeg">
                    <select class="form-control" formControlName="financingLeg">
                        <option selected disabled value="">Select</option>
                        <option>
                          Bullet
                        </option>
                        <option>
                          Total Return
                        </option>
                      </select>
                </div>

            </div>

            <div class="row" style="margin: 11px 0">
                <div class="col-sm-2 pl-1 pr-1" [hidden]="!FinancingEndDate">
                <label> Financing End date </label>
                </div>
                <div class="col-sm-4 pl-1 pr-1" [hidden]="!FinancingEndDate">
                    <input
                    ngxDaterangepickerMd
                    formControlName="financingEndDate"
                    class="form-control bc-white"
                    type="text"
                    placeholder="Select financing end date"
                    name="financingEndDate"
                    [singleDatePicker]="true"
                    [autoApply]="true"
                    autocomplete="off"
                    readonly 
                    >
                </div>

            <div class="col-sm-2 pr-1" [hidden]="!FinancingPaymentDate">
                <label>Financing Payment date</label>
                </div>
                <div class="col-sm-4 pl-1 pr-1" [hidden]="!FinancingPaymentDate">
                    <input 
                    ngxDaterangepickerMd
                    formControlName="financingPayDate"
                    class="form-control bc-white"
                    type="text"
                    placeholder="Select financing payment date"
                    name="financingPayDate"
                    [singleDatePicker]="true"
                    [autoApply]="true"
                    autocomplete="off"
                    readonly
                    >
                </div>

              </div>

            <div class="row" style="margin: 11px 0">
                <div class="col-sm-2 pl-1 pr-1" [hidden]="!FinancingResetDate">
                <label> Financing Reset Dates </label>
                </div>
                <div class="col-sm-2 pl-1 pr-1" [hidden]="!FinancingResetDate">
                    <select class="form-control" formControlName="financingResetDateType">
                        <option selected disabled value="">Select</option>
                        <option>
                          No of days
                        </option>
                        <option>
                          Date
                        </option>
                        <option>
                          Monthly
                        </option>
                        <option>
                          Quarterly
                        </option>
                        <option>
                            Yearly
                        </option>
                      </select>
                </div>

                <div class="col-sm-2 pl-1 pr-1" *ngIf="resetDate">
                    <input
                    ngxDaterangepickerMd
                    formControlName="financingResetDate"
                    class="form-control bc-white"
                    type="text"
                    placeholder="Select reset date"
                    name="financingResetDate"
                    [singleDatePicker]="true"
                    [autoApply]="true"
                    autocomplete="off"
                    readonly 
                    >
                </div>

                
                <div class="col-sm-2 pr-1" [hidden]="!NextFinancingEndDate">
                    <label>Next Financing End Date</label>
                    </div>
                    <div class="col-sm-2 pl-1 pr-1" [hidden]="!NextFinancingEndDate">
                        <select class="form-control" formControlName="nextFinancingEndDateType">
                            <option selected disabled value="">Select</option>
                            <option>
                              No of days
                            </option>
                            <option>
                              Date
                            </option>
                            <option>
                              Monthly
                            </option>
                            <option>
                              Quarterly
                            </option>
                            <option>
                                Yearly
                            </option>
                          </select>

                    </div>

                    <div class="col-sm-2 pl-1 pr-1" *ngIf="endDate">
                        <input
                        ngxDaterangepickerMd
                        formControlName="nextFinancingEndDate"
                        class="form-control bc-white"
                        type="text"
                        placeholder="Select next financing date"
                        name="nextFinancingEndDate"
                        [singleDatePicker]="true"
                        [autoApply]="true"
                        autocomplete="off"
                        readonly
                        >
                    </div>

            </div>

            <div class="row m-0">

                <div class="col-sm-2 pl-1 pr-1" *ngIf="FixedRate" >
                    <label> Fixed Rate </label>
                    </div>
                    <div class="col-sm-2 pl-1 pr-1" *ngIf="FixedRate">
                        <input class="form-control" formControlName="fixedRate" type="number" >
                    </div>

                <div class="col-sm-2 pl-3 pr-1" *ngIf="DCCFixedRate">
                    <label> DCC Fixed Rate </label>
                    </div>
                    <div class="col-sm-2 pl-1 pr-1" *ngIf="DCCFixedRate">
                        <select class="form-control" formControlName="dccFixedRate">
                            <option selected disabled value="">Select</option>
                            <option>
                              30/360
                            </option>
                            <option>
                              Actual/360
                            </option>
                            <option>
                              Actual/365
                            </option>
                          </select>
                    </div>

                <div class="col-sm-2 pl-3 pr-1" *ngIf="FloatingRate">
                <label> Floating Rate </label>
                </div>
                <div class="col-sm-2 pl-1 pr-1" *ngIf="FloatingRate">
                    <select class="form-control" formControlName="floatingRate">
                        <option selected disabled value="">Select</option>
                        <option>
                          USD
                        </option>
                        <option>
                          LIBOR
                        </option>
                        <option>
                            BBA
                        </option>
                      </select>
                </div>

            </div>

            <div class="row" style="margin: 11px 0">

                <div class="col-sm-2 pl-1 pr-1" *ngIf="DCCFloatingRate">
                    <label> DCC Floating Rate </label>
                    </div>
                    <div class="col-sm-2 pl-1 pr-1" *ngIf="DCCFloatingRate">
                        <select class="form-control" formControlName="dccFloatingRate">
                            <option selected disabled value="">Select</option>
                            <option>
                              30/360
                            </option>
                            <option>
                              Actual/360
                            </option>
                            <option>
                              Actual/365
                            </option>
                          </select>
                    </div>

                <div class="col-sm-2 pl-3 pr-1" *ngIf="PrimaryMarket">
                    <label> Primary Market </label>
                    </div>
                    <div class="col-sm-2 pl-1 pr-1" *ngIf="PrimaryMarket">
                        <select class="form-control" formControlName="primaryMarket">
                            <option selected disabled value="">Select</option>
                            <option>
                              OTC
                            </option>
                            <option>
                              Listed
                            </option>
                          </select>
                    </div>

                <div class="col-sm-2 pl-3 pr-1" *ngIf="ReferenceEquity">
                <label> Reference Equity </label>
                </div>
                <div class="col-sm-2 pl-1 pr-1" *ngIf="ReferenceEquity">
                    <input class="form-control" formControlName="referenceEquity" type="number">
                </div>

            </div>

            <div class="row" style="margin: 11px 0">

                <div class="col-sm-2 pl-1 pr-1" *ngIf="ReferenceObligation">
                    <label> Reference Obligation </label>
                    </div>
                    <div class="col-sm-2 pl-1 pr-1" *ngIf="ReferenceObligation">
                        <input class="form-control" formControlName="referenceObligation" type="number">
                    </div>

                <div class="col-sm-2 pl-3 pr-1" *ngIf="Upfront">
                    <label> Upfront </label>
                </div>
                <div class="col-sm-2 pl-1 pr-1" *ngIf="Upfront">
                     <input class="form-control" formControlName="upfront" type="number">
                </div>

                <div class="col-sm-2 pl-3 pr-1" *ngIf="PremiumRate" >
                <label> Premium Rate </label>
                </div>
                <div class="col-sm-2 pl-1 pr-1" *ngIf="PremiumRate">
                    <input class="form-control" formControlName="premiumRate" type="number">
                </div>

            </div>

            <div class="row" style="margin: 11px 0">

                <div class="col-sm-2 pl-1 pr-1" *ngIf="PremiumFrequency">
                    <label> Frequency Rate </label>
                </div>
                <div class="col-sm-2 pl-1 pr-1" *ngIf="PremiumFrequency">
                     <input class="form-control" formControlName="frequencyRate" type="number">
                </div>

            </div>

        </div>

        </fieldset>
        </div>

        <div class="modal-footer">

            <!-- <button *ngIf="editSecurity" type="button" class="btn btn-danger mr-auto"  [disabled]="isDeleting"
            (click)="deleteSecurity()"><i class="fa fa-trash"></i> Delete
            <span *ngIf="isDeleting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button> -->
    
            <button type="button" class="btn btn-secondary" (click)="close()">
                <i class="fa fa-times" aria-hidden="true"></i> Cancel
            </button>

            <button type="submit" class="btn btn-pa" [ngClass]="{'cursor-not-allowed': !securityForm.valid}"
            [disabled]="!securityForm.valid || noResult || isSaving"
            >
            Save
            <span *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
            
            </div>
        
          </form>
        
        </div>

    </div>

</div>
