<!-- Hide Grid Div -->
<div *ngIf="hideGrid" [ngStyle]="containerDiv">
  <div style="display: flex; align-items: center; justify-content: center">
    <h1> Posting Engine is Running. Please Wait. </h1>
  </div>
</div>
<!-- Hide Grid Div Ends -->

<!-- Div Starts -->
<div [ngStyle]="{ 'display': hideGrid ? 'none' : 'initial' } ">
  <!-- Tab View Tag Starts -->
  <p-tabView [ngStyle]="style">
    <!-- Fund Theoretical Tab Starts -->
    <p-tabPanel header=" Fund Theoretical" [ngStyle]="style">
      <!----- Action Buttons Div Starts ----->
      <div class="row">
        <div class="ml-auto mt-1 mr-2">
          <!----- Refresh Button Div ----->
          <!-- <div class="mr-2 tabBtn">
                      <button (click)="refreshGrid()" class="btn btn-info" tooltip="Refresh" placement="top">
                        <i class="fa fa-refresh"></i></button>
                    </div> -->
          <!-- Export Excel Div -->
          <!-- <div class="mr-2  tabBtn">
                      <button (click)="onBtExport()" class="btn btn-info" tooltip="Export to Excel" placement="top">
                        <i class="fa fa-arrow-circle-o-down"></i>
                      </button>
                    </div> -->
        </div>
      </div>
      <!----- Action Buttons Div Ends ----->

      <!-- Show Date Picker Div -->
      <form>
        <div class="form-row">
          <div class="col-2" *ngIf="showDatePicker">
            <input ngxDaterangepickerMd class="form-control" type="text" placeholder="Choose date"
              [(ngModel)]="selectedDate" (ngModelChange)="changeDate($event)" name="selectedDate"
              [singleDatePicker]="true" [autoApply]="true" autocomplete="off" [showDropdowns]="true" />
          </div>
          <div class="col-6" *ngIf="showDatePicker">
            <button class="btn btn-info" type="button" (click)="generateRows()" [disabled]="!generateFundsDate">
              Generate Rows
            </button>
            <input class="btn btn-info file-upload-btn" type="file" (change)="onFileInput($event.target.files)">
            <button class="btn btn-info ml-2" type="button" (click)="uploadMonthlyPerformance()">
              Upload
            </button>
          </div>
          <div class="ml-auto">
            <button class="btn btn-info ml-2" type="button" [disabled]="disableCommit"
              (click)="commitPerformanceData()">
              Commit
            </button>
            <button class="btn btn-info ml-2" type="button" tooltip="View Graph" [disabled]="disableCharts"
              (click)="expandedClicked()">
              <i class="fa fa-line-chart"></i>
            </button>
          </div>
        </div>
      </form>
      <!-- Show Date Picker Div Ends -->

      <!----- Div To Measure Identifier starts ----->
      <div #divToMeasure>
        <!----- Style For Height ----->
        <div [ngStyle]="styleForHeight">
          <!----- Ag Grid Selector ----->
          <div class="row h-100">
            <div [ngClass]="{'col-6': isExpanded, 'col-12': !isExpanded}">
              <ag-grid-angular class="h-100 ag-theme-balham" [gridOptions]="fundTheoreticalGrid">
              </ag-grid-angular>
            </div>
            <div *ngIf="isExpanded" class="col-6">
              <app-calculation-graphs class="w-50 h-50" [chartData]="graphObject">
              </app-calculation-graphs>
            </div>
          </div>
        </div>
      </div>
      <!----- Div To Measure Identifier Ends ----->
    </p-tabPanel>
    <!-- Fund Theoretical Tab Ends -->

    <!-- Daily PNL Tab Starts -->
    <p-tabPanel header="Daily PnL" [ngStyle]="style">
      <app-daily-pnl></app-daily-pnl>
    </p-tabPanel>
    <!-- Daily PNL Tab Ends -->
  </p-tabView>
  <!-- Tab View Tag Ends -->
</div>
<!-- Div Ends -->

<app-data-grid-modal #dataGridModal [gridTitle]="title">
</app-data-grid-modal>