<!-- Hide Grid Div -->
<div *ngIf="hideGrid" [ngStyle]="containerDiv">
  <div class="d-flex align-items-center justify-content-center">
    <h1> Posting Engine is Running. Please Wait. </h1>
  </div>
</div>
<!-- Hide Grid Div Ends -->

<!-- Main Div Starts -->
<div [ngStyle]="{ 'display': hideGrid ? 'none' : 'initial' } ">

  <!-- Tab View Tag Starts -->
  <tabset class="tab-color">

    <!-- Fund Theoretical Tab Starts -->
    <tab heading="Fund Theoretical" (selectTab)="activeFundTheretical()">

      <!-- Fund Theoretical Container -->
      <div [ngStyle]="style">

        <!-- Action Buttons Form Tag Starts -->
        <form>

          <!-- Form Row Div Starts -->
          <div class="row">

            <!-- Date Picker Div Starts -->
            <div class="col-auto">
              <input ngxDaterangepickerMd class="form-control" type="text" placeholder="Choose date"
                [(ngModel)]="selectedDate" (ngModelChange)="changeDate($event)" name="selectedDate"
                [singleDatePicker]="true" [autoApply]="true" autocomplete="off" [showDropdowns]="true" />
            </div>
            <!-- Date Picker Div Ends -->

            <!-- Generate Rows Div Starts -->
            <div class="col-auto">
              <button class="btn btn-pa" type="button" (click)="generateRows()" [disabled]="!generateFundsDate">
                Generate Rows
              </button>
            </div>
            <!-- Generate Rows Div Ends -->

            <!-- Action Buttons Div Starts -->
            <div class="ml-auto mr-2">
              <button class="btn btn-pa ml-2" type="button" [disabled]="disableCommit || commitLoader"
                (click)="commitPerformanceData()">
                Commit
                <span *ngIf="commitLoader" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
              </button>
              <ng-template #tooltipTemplate>{{actionFundTheoretical.chartsView ? 'Hide Graph' : 'View Graph'}}
              </ng-template>
              <button [disabled]="disableCharts"
                (click)="actionFundTheoretical.chartsView = !actionFundTheoretical.chartsView" class="btn btn-pa ml-2"
                [tooltip]="tooltipTemplate" placement="top">
                <i class="fa fa-line-chart"></i>
              </button>
            </div>
            <!-- Action Buttons Div Ends -->

          </div>
          <!-- Form Row Div Ends -->

        </form>
        <!-- Action Buttons Form Tag Ends -->

        <!-- Style For Height Container Starts -->
        <div [ngStyle]="styleForHeight">

          <!-- Main Split Row Starts -->
          <div class="split-area row h-100">

            <!-- AS Split Main Container -->
            <as-split class="pl-15 pr-15" disabled="false" direction="horizontal"
              [useTransition]="actionFundTheoretical.useTransition"
              (dragEnd)="actionFundTheoretical.fundTheoreticalSize=$event.sizes[0]; actionFundTheoretical.chartsSize=$event.sizes[1];">

              <!-- Fund Theoretical Split Area -->
              <as-split-area [visible]="actionFundTheoretical.fundTheoreticalView"
                [size]="actionFundTheoretical.fundTheoreticalSize" order="1">

                <!-- Fund Theoretical Grid -->
                <ag-grid-angular class="h-100 ag-theme-balham" [gridOptions]="fundTheoreticalGrid">
                </ag-grid-angular>

              </as-split-area>
              <!-- Fund Theoretical Split Area Ends -->

              <!-- Charts Split Area -->
              <as-split-area [visible]="actionFundTheoretical.chartsView" [size]="actionFundTheoretical.chartsSize"
                order="2">

                <app-calculation-graphs class="w-50 h-50" [chartObject]="graphObject" [mode]="'many'">
                </app-calculation-graphs>

              </as-split-area>
              <!-- Charts Split Area Ends -->

            </as-split>
            <!-- AS Split Main Container Ends -->

          </div>
          <!-- Main Split Row Ends -->

        </div>
        <!-- Style For Height Container Ends -->

      </div>
      <!-- Fund Theoretical Container Ends -->

    </tab>
    <!-- Fund Theoretical Tab Ends -->

    <!-- Daily PNL Tab Starts -->
    <tab heading="Daily PnL" (selectTab)="activeDailyPnL()">
      <div [ngStyle]="style">
        <app-daily-pnl *ngIf="isDailyPnLActive"></app-daily-pnl>
      </div>
    </tab>
    <!-- Daily PNL Tab Ends -->

    <!-- Tax Rate Tab Starts -->
    <tab heading="Tax Rate" (selectTab)="activeTaxRate()">
      <div [ngStyle]="style">
        <app-tax-rates *ngIf="isTaxRateActive"></app-tax-rates>
      </div>
    </tab>
    <!-- Tax Rate Tab Ends -->

    <!-- Tax Rate Tab Starts -->
    <tab heading="Market Prices" (selectTab)="activeMarketPrices()">
      <div [ngStyle]="style">
        <app-market-prices *ngIf="isMarketPricesActive"></app-market-prices>
      </div>
      <!-- Tax Rate Tab Ends -->
    </tab>

    <!-- Fx Rate Tab -->
    <tab heading="Fx Rate" (selectTab)="activeFxRate()">
      <div [ngStyle]="style">
        <app-fx-rates *ngIf="isFxRateActive"></app-fx-rates>
      </div>
      <!-- Fx Rate Tab -->
    </tab>

  </tabset>
  <!-- Tab View Tag Ends -->

</div>
<!-- Main Div Ends -->

<!-- Data Grid Modal Component Selector Starts -->
<app-data-grid-modal #dataGridModal [gridTitle]="title">
</app-data-grid-modal>

<!-- Confirmation Modal Component -->
<app-confirmation-modal #confirmationModal (confirmDeletion)="confirmReset()" [modalTitle]="'Reset Performance'"
  [modalDescription]="'All your changes will be lost.\nAre you sure you want to reset performance?'">
</app-confirmation-modal>

<!-- Date Picker Modal Component -->
<app-date-picker-modal #datePickerModal (dateSelected)="addCustom($event)" [modalTitle]="'Select a Date'">
</app-date-picker-modal>