<!----- Action Buttons Div Starts ----->
<div class="row">
  <div class="ml-auto mt-1 mr-2">
    <!----- Refresh Button Div ----->
    <!-- <div class="mr-2 tabBtn">
      <button (click)="refreshGrid()" class="btn btn-info" tooltip="Refresh" placement="top">
        <i class="fa fa-refresh"></i></button>
    </div> -->
    <!-- Export Excel Div -->
    <!-- <div class="mr-2  tabBtn">
      <button (click)="onBtExport()" class="btn btn-info" tooltip="Export to Excel" placement="top">
        <i class="fa fa-arrow-circle-o-down"></i>
      </button>
    </div> -->
  </div>
</div>
<!----- Action Buttons Div Ends ----->

<!-- Show Date Picker Div -->
<form>
  <div class="form-row">
    <!-- <div class="col-2">
      <input ngxDaterangepickerMd class="form-control" type="text" placeholder="Choose date" [(ngModel)]="selectedDate"
        (ngModelChange)="changeDate($event)" name="selectedDate" [singleDatePicker]="true" [autoApply]="true"
        autocomplete="off" [showDropdowns]="true" />
    </div> -->
    <div class="col-6">
      <!-- <button class="btn btn-info" type="button" (click)="doRefresh()">
        Refresh
      </button> -->
      <input class="btn btn-info file-upload-btn" type="file" (change)="onFileInput($event.target.files)">
      <button class="btn btn-info ml-2" type="button" (click)="uploadDailyUnofficialPnl()">
        Upload
      </button>
    </div>
    <div class="ml-auto">
      <!-- <div class="col-6">
        <button class="btn btn-info ml-2" type="button" [disabled]="disableCommit" (click)="commitPerformanceData()">
          Commit
        </button>
      </div> -->

      <!-- Grid Utils Starts -->
      <app-grid-utils class="mr-0" [utilsConfig]="utilsConfig" [gridOptions]="dailyPnlGrid" (refresh)="refreshGrid()">
      </app-grid-utils>
      <!-- Grid Utils Ends -->
    </div>
  </div>
</form>
<!-- Show Date Picker Div Ends -->

<!----- Div To Measure Identifier starts ----->
<div #divToMeasure>
  <!----- Style For Height ----->
  <div [ngStyle]="styleForHeight">
    <!----- Ag Grid Selector ----->
    <ag-grid-angular class="w-100 h-100 ag-theme-balham" [gridOptions]="dailyPnlGrid">
    </ag-grid-angular>

  </div>
</div>
<!----- Div To Measure Identifier Ends ----->