body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.cell {
  color: black;
  font-weight: 400;
  font-size: 14px;
}

th {
  width: 25%;
}

td {
  width: 25%;
  background-repeat: no-repeat;
}

td.positive {
  background-image: linear-gradient(
    to right,
    rgb(80, 235, 80) 0%,
    rgb(85, 240, 85) 17%,
    rgb(90, 245, 90) 33%,
    rgba(95, 250, 95, 1) 67%,
    rgb(130, 255, 130) 83%,
    rgb(180, 255, 180) 100%
  );
  text-align: end;
  font-weight: 500;
}

td.negative {
  background-image: linear-gradient(
    to left,
    rgb(235, 80, 80) 0%,
    rgb(240, 85, 85) 17%,
    rgba(245, 90, 90, 1) 33%,
    rgba(250, 95, 95, 1) 67%,
    rgba(255, 130, 130, 1) 83%,
    rgba(255, 180, 180, 1) 100%
  );
  background-position: 100% 100%;
  text-align: end;
  font-weight: 500;
}

.table-header {
  margin-bottom: 0;
}

.table-footer {
  font-weight: 700;
}

.end-position {
  text-align: end;
}

.center-position {
  text-align: center;
}

.md-datepicker-input-container {
  width: 150px;
}

.mat-datepicker-content .mat-calendar {
  zoom: 0.5;
}

@media (min-width: 320px) {
  ::ng-deep.md-drppicker.shown.drops-down-right {
    width: 320px;
  }
}
@media (min-width: 768px) {
  ::ng-deep.md-drppicker.shown.drops-down-right {
    width: 600px;
  }
}
