<!-- Filters/Action Buttons Row -->
<div class="row">

  <!-- Fund Filter -->
  <!-- <div class="col-md-2">
    <select class="form-control" [(ngModel)]="vRange" [selectedIndex]="0" (ngModelChange)="vChange($event)">
      <option *ngFor="let a of vRanges" [ngValue]="a.Days">
        {{ a.Description }}
      </option>
    </select>
  </div> -->
  <!-- Fund Filter Ends -->

  <!-- Symbol Filter -->
  <div class="col-auto">
    <input type="text" autocomplete="off" placeholder="Filter by Currency" name="currency"
      [(ngModel)]="filterByCurrency" (ngModelChange)="ngModelChangeSymbol($event)" (keyup)="onSymbolKey($event)"
      class="form-control" />
  </div>
  <!-- Symbol Filter Ends -->

  <!-- Date Picker -->
  <div class="col-auto">
    <input ngxDaterangepickerMd class="form-control" type="text" autocomplete="off" placeholder="Choose date"
      [(ngModel)]="selectedDate" name="selectedDaterange" [showClearButton]="true" [alwaysShowCalendars]="true"
      (ngModelChange)="ngModelChange($event)" [keepCalendarOpeningWithRange]="true" />
  </div>
  <!-- Date Picker Ends -->

  <!-- Clear Button -->
  <div class="mr-auto">
    <button (click)="clearFilters()" class="btn btn-pa" tooltip="Clear" placement="top">
      <i class="fa fa-remove"></i>
    </button>
  </div>
  <!-- Clear Button Ends -->

  <!-- Action Buttons -->
  <div class="ml-auto mr-3">

    <button class="btn btn-pa mr-2" type="button" [disabled]="disableCommit" (click)="commitMarketPriceData()">
      Commit
    </button>

    <!-- Grid Utils Starts -->
    <app-grid-utils class="mr-0" [utilsConfig]="utilsConfig" [gridOptions]="fxRate" (refresh)="refreshGrid()">
      <!-- Grid Utils Ends -->
    </app-grid-utils>

    <!-- Expand/Collapse Button -->
    <ng-template #tooltipTemplate>{{fxRatesConfig.chartsView ? 'Expand' : 'Collapse'}}</ng-template>
    <button class="btn btn-pa" [disabled]="disableCharts" [tooltip]="tooltipTemplate" placement="top"
      (click)="onToggleChartsView()">
      <i class="fa"
        [ngClass]="{'fa-arrow-right': fxRatesConfig.chartsView, 'fa-arrow-left': !fxRatesConfig.chartsView}"></i>
    </button>
    <!-- Expand/Collapse Button Ends -->

  </div>
  <!-- Action Buttons Ends -->

</div>
<!-- Filters/Action Buttons Row Ends -->

<!-- Content Container -->
<div [ngStyle]="styleForHeight">

  <!-- Main Split Row Starts -->
  <div class="split-area row h-100">

    <!-- AS Split Main Container -->
    <as-split class="pl-15 pr-15" disabled="false" direction="horizontal" [useTransition]="fxRatesConfig.useTransition"
      (dragEnd)="applyPageLayout($event)" (transitionEnd)="applyPageLayout($event)">

      <!-- FX Rates Split Area -->
      <as-split-area [visible]="fxRatesConfig.fxRatesView" [size]="fxRatesConfig.fxRatesSize" order="1">

        <!-- FX Rates Grid -->
        <ag-grid-angular class="h-100 ag-theme-balham" [gridOptions]="fxRate">
        </ag-grid-angular>

      </as-split-area>
      <!-- FX Rates Split Area Ends -->

      <!-- Charts Split Area -->
      <as-split-area [visible]="fxRatesConfig.chartsView" [size]="fxRatesConfig.chartsSize" order="2">

        <app-calculation-graphs *ngIf="fxRatesConfig.chartsView" class="w-50 h-75" [chartObject]="graphObject"
          [mode]="'single'">
        </app-calculation-graphs>

      </as-split-area>
      <!-- Charts Split Area Ends -->

    </as-split>
    <!-- AS Split Main Container Ends -->

  </div>
  <!-- Main Split Row Ends -->

</div>
<!-- Content Container Ends -->

<!-- Data Grid Modal -->
<app-data-grid-modal #dataGridModal [gridTitle]="title"></app-data-grid-modal>