<!-- Hide Grid Div Starts -->
<div *ngIf="hideGrid" #logScroll [ngStyle]="containerDiv">
  <div class="d-flex align-items-center justify-content-center">
    <h1> Posting Engine is Running. Please Wait. </h1>
  </div>
</div>
<!-- Hide Grid Div Ends -->

<!-- Div Starts -->
<div [ngStyle]="{ 'display': hideGrid ? 'none' : 'initial' }">
  <!-- Tab View Tag Starts -->
  <tabset [ngStyle]="style">
    <!-- Header Tab Starts -->
    <tab heading="Trial Balance">
      <div [ngStyle]="style">
        <!-- Row Div Starts -->
        <div class="row ">
          <!-- Fund Dropdown Div Starts -->
          <div class="col-md-2">
            <select class="form-control" [(ngModel)]="fund" (ngModelChange)="ngModelChangeFund($event)">
              <option>All Funds</option>
              <option *ngFor="let f of funds" [ngValue]="f.FundCode">
                {{ f.FundCode }}
              </option>
            </select>
          </div>
          <!-- Fund Dropdown Div Ends -->

          <!-- DateRange Lable Div Starts -->
          <div>
            <label class="text-right"> {{DateRangeLabel}} </label>
          </div>
          <!-- DateRange Lable Div Ends -->

          <!-- Date Picker Div Starts -->
          <div class="col-md-5">
            <form>
              <input ngxDaterangepickerMd class="form-control" type="text" autocomplete="off" placeholder="Choose date"
                [(ngModel)]="selected" name="selectedDaterange" [ranges]="ranges" [showClearButton]="true"
                [alwaysShowCalendars]="true" (ngModelChange)="ngModelChange($event)"
                [keepCalendarOpeningWithRange]="true" />
            </form>
          </div>
          <!-- Date Picker Div Ends -->

          <!-- Clear Button Div Starts -->
          <div class="mr-auto">
            <button (click)="clearFilters()" class="btn btn-pa" tooltip="Clear" placement="top">
              <i class="fa fa-remove"></i>
            </button>
          </div>
          <!-- Clear Button Div Ends -->

          <!-- Action Buttons Div Starts -->
          <div class="ml-auto mr-3">
            <app-grid-utils [gridOptions]="gridOptions" (refresh)="refreshGrid()" [excelParams]="excelParams">
            </app-grid-utils>
          </div>
          <!-- Action Buttons Div Ends -->
        </div>
        <!-- Row Div Ends -->
      </div>

      <div class="clearfix"></div>
      <!-- Trial Balance Grid Div Starts -->
      <div [ngStyle]="styleForHeight">
        <ag-grid-angular class="w-100 h-100 ag-theme-balham" [gridOptions]="gridOptions">
        </ag-grid-angular>
      </div>
      <!-- Trial Balance Grid Div Ends -->
    </tab>
    <!-- Header Tab Starts -->
  </tabset>
  <!-- Tab View Tag Ends -->
</div>
<!-- Div Ends -->

<app-data-modal #dataModal [orderId]="orderId" [title]="'Order Detail'">
</app-data-modal>

<app-report-modal #reportModal [title]="'Report'" [tableHeader]="tableHeader">
</app-report-modal>