<div *ngIf="hideGrid" #logScroll [ngStyle]="containerDiv">
  <div style="display: flex; align-items: center; justify-content: center">
    <h1> Posting Engine is Running. Please Wait. </h1>
  </div>
</div>

<div [ngStyle]="{ 'display': hideGrid ? 'none' : 'initial' } ">
  <p-tabView [ngStyle]="style">
    <p-tabPanel header="Trial Balance">
      <div class="row ">

        <div class="col-md-2">
          <select class="form-control" [(ngModel)]="fund" (ngModelChange)="ngModelChangeFund($event)">
            <option>All Funds</option>
            <option *ngFor="let f of funds" [ngValue]="f.FundCode">
              {{ f.FundCode }}
            </option>
          </select>
        </div>

        <div>
          <label style="text-align: right"> {{DateRangeLable}} </label>
        </div>

        <div class="col-md-5">
          <form>
            <input type="text" autocomplete="off" ngxDaterangepickerMd [(ngModel)]="selected" [ranges]="ranges"
              [showCustomRangeLabel]="true" #dateRangPicker name="selectedDaterange" [showClearButton]="true"
              placeholder="Choose date" [alwaysShowCalendars]="false" (ngModelChange)="ngModelChange($event)"
              class="form-control" />
          </form>
        </div>

        <div class="mr-auto">
          <button (click)="clearFilters( )" class="btn btn-info" type="button">
            <i class="fa fa-remove"></i> Clear</button>
        </div>
        <div class="ml-auto">
          <div class="mr-2 tabBtn">
            <button (click)="setGroupingState(true)" class="btn btn-info" tooltip="Expand" placement="top">
              <i class="fa fa-expand"></i></button>
          </div>
          <div class="mr-2 tabBtn">
            <button (click)="setGroupingState(false)" class="btn btn-info" tooltip="Collapse" placement="top">
              <i class="fa fa-compress"></i></button>
          </div>
          <div class="mr-2 tabBtn">
            <button (click)="refreshGrid()" class="btn btn-info" tooltip="Refresh" placement="top">
              <i class="fa fa-refresh"></i></button>
          </div>
          <div class="mr-2 tabBtn">
            <button (click)="onBtExport()" class="btn btn-info" tooltip="Export to Excel" placement="top"><i
                class="fa fa-arrow-circle-o-down"></i></button>
          </div>
        </div>
      </div>

      <div style="clear: both"></div>
      <div #divToMeasureJournal>
        <div [ngStyle]="styleForHight">
          <ag-grid-angular #journalGrid style="width: 100%; height: 100%" class="ag-theme-balham"
            [gridOptions]="gridOptions" [rowGroupPanelShow]="rowGroupPanelShow" [sideBar]="sideBar" [rowData]="rowData"
            [rowSelection]="rowSelection" [getRowStyle]="getRowStyle">
            <!--
          [pinnedBottomRowData]="pinnedBottomRowData"
          [pivotPanelShow]="pivotPanelShow"
          [pivotColumnGroupTotals]="pivotColumnGroupTotals"
          [pivotRowTotals]="pivotRowTotals"
        -->
          </ag-grid-angular>
        </div>
      </div>
    </p-tabPanel>

  </p-tabView>
</div>

<ng-template #greetCell let-row>
  <!-- 
    <div (click)="greet(row)" style="cursor: pointer"> {{row.source}} </div>
  -->
</ng-template>