<!-- Modal Div Starts -->
<div bsModal #dividendModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: modal-backdrop}">

  <!-- Modal Dialog Div Starts -->
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-lg">
    <!-- Modal Content Starts -->
    <div class="modal-content">
        <!------ Form Starts------>
        <form [formGroup]="dividentForm" (ngSubmit)="onSubmit()">

        <!-- Modal Header -->               
        <div class="modal-header">
          <h3>Create Dividend</h3>
          <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
          <!--End Modal Header -->
        </div>

        <!-- No Result Alert -->
        <alert *ngIf="noResult || noCurrencyFound" type="danger" [dismissible]="true">
            <strong>Warning!</strong> Please, only select values from the dropdown!
        </alert>
        <!-- No Result Alert Ends -->

        <!-- Loading Spinner -->
         <!-- <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center height-50vh"> -->
            <!-- <lp-loading></lp-loading> -->
        <!-- Loading Spinner Ends -->
        <!-- </div> -->

                <!-- Modal Body Starts-->
        <div class="modal-body">

                              <!-- Fund Div Starts -->
          <div class="form-group">
            <div class="row" style="margin: 0;">
              <!-- Fund Label -->
              <div class="col-sm-3">
                <label> Ticker * </label>
              </div>
              <!-- Fund Drop Down -->
              <div class="col-sm-9">
                <input class="form-control"
                placeholder="Select ticker"
                formControlName="ticker"
                [ngClass]="{ 'is-invalid': submitted && formFields.ticker.errors }"
                required
                autocomplete="off"
                typeaheadWaitMs="500"
                [isAnimated]="true"
                [typeaheadScrollable]="true"
                [typeaheadIsFirstItemActive]="true"
                [typeaheadMinLength]="0"
                [typeaheadOptionsInScrollableView]="15"
                [typeahead]="ticker$"
                (typeaheadNoResults)="typeaheadNoResults($event)"
                />
                <div *ngIf="submitted && formFields.ticker.errors" class="invalid-feedback">
                <div *ngIf="formFields.ticker.errors.required">Ticker is required</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Fund Div Ends -->

        <!-- Heading -->
        <div class="form-group">
            <div class="row" style="margin: 0;">
                <div class="col-12">
                <h6>Select Date</h6>
                </div>
            </div>
        </div>


        <!-- Notice Date Div Starts -->
        <div class="form-group">
        <div class="row" style="margin: 0;">
            <div class="col-sm-3">
            <label> Notice Date * </label>
            </div>
            <div class="col-sm-9">
            <input ngxDaterangepickerMd
                formControlName="noticeDate"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formFields.noticeDate.errors }"
                type="text"
                placeholder="Select notice date"
                [singleDatePicker]="true"
                [autoApply]="true"
                autocomplete="off"
                [maxDate]="maxDate"
                required
                 />
            <div *ngIf="submitted && formFields.noticeDate.errors" class="invalid-feedback">
            <div *ngIf="formFields.noticeDate.errors.required">Notice is required</div>
            </div>
            </div>
        </div>
        <!-- Notice Date Div End -->
        </div>

        <!-- ExDate Div Starts -->
        <div class="form-group">
            <div class="row" style="margin: 0;">
                <div class="col-sm-3">
                <label> Ex-Date * </label>
                </div>
                <div class="col-sm-9">
                <input ngxDaterangepickerMd
                    formControlName="exDate"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && formFields.exDate.errors }"
                    type="text"
                    placeholder="Select ex-Date"
                    [singleDatePicker]="true"
                    [autoApply]="true"
                    autocomplete="off"
                    [maxDate]="maxDate"
                    required
                />
                <div *ngIf="submitted && formFields.exDate.errors" class="invalid-feedback">
                    <div *ngIf="formFields.exDate.errors.required">Date is required</div>
                </div>
                </div>
            </div>
            <!-- ExDate Div End -->
        </div>

        <!-- RecordDate Div Starts -->
        <div class="form-group">
            <div class="row" style="margin: 0;">
                <div class="col-sm-3">
                <label> Record Date * </label>
                </div>
                <div class="col-sm-9">
                <input ngxDaterangepickerMd
                    formControlName="recordDate"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && formFields.recordDate.errors }"
                    type="text"
                    placeholder="Select record date"
                    [singleDatePicker]="true"
                    [autoApply]="true"
                    autocomplete="off"
                    required
                />
                <div *ngIf="submitted && formFields.recordDate.errors" class="invalid-feedback">
                    <div *ngIf="formFields.recordDate.errors.required">Date is required</div>
                </div>
                </div>
            </div>
            <!-- RecordDate Div End -->
        </div>

        <!-- PayDate Div Starts -->
        <div class="form-group">
            <div class="row" style="margin: 0;">
                <div class="col-sm-3">
                <label> Pay Date * </label>
                </div>
                <div class="col-sm-9">
                <input ngxDaterangepickerMd
                    formControlName="payDate"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && formFields.payDate.errors }"
                    type="text"
                    placeholder="Select pay date"
                    name="payDate"
                    [singleDatePicker]="true"
                    [autoApply]="true"
                    autocomplete="off"
                    [maxDate]="maxDate"
                    required
                />
                <div *ngIf="submitted && formFields.payDate.errors" class="invalid-feedback">
                    <div *ngIf="formFields.payDate.errors.required">Date is required</div>
                </div>
                </div>
            </div>
            <!-- PayDate Div End -->
        </div>

        <!-- Heading -->
        <div class="form-group">
            <div class="row" style="margin: 0;">
                <div class="col-12">
                <h6>Some Heading</h6>
                </div>
            </div>
        </div>


        <!-- PayDate Div Starts -->
        <div class="form-group">
            <div class="row" style="margin: 0;">
                <div class="col-sm-2">
                <label> Rate/Ratio * </label>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" [ngClass]="{ 'is-invalid': submitted && formFields.ratio.errors }" formControlName="ratio" type="number" step=".05" required>
                    <div *ngIf="submitted && formFields.ratio.errors" class="invalid-feedback">
                        <div *ngIf="formFields.ratio.errors.required">Ratio is required</div>
                    </div>
                </div>
                <div class="col-sm-2"></div>

                <div class="col-sm-2">
                    <label>Currency * </label>
                    </div>
                    <div class="col-sm-3">
                    <input class="form-control"
                        placeholder="Select currency"
                        formControlName="currency"
                        [ngClass]="{ 'is-invalid': submitted && formFields.currency.errors }"
                        required
                        autocomplete="off"
                        typeaheadWaitMs="500"
                        [isAnimated]="true"
                        [typeaheadScrollable]="true"
                        [typeaheadIsFirstItemActive]="true"
                        [typeaheadMinLength]="0"
                        [typeaheadOptionsInScrollableView]="15"
                        [typeahead]="currencies$"
                        (typeaheadNoResults)="typeaheadNoCurrency($event)"
                        />
                          <div *ngIf="submitted && formFields.currency.errors" class="invalid-feedback">
                          <div *ngIf="formFields.currency.errors.required">Currency is required</div>
                        </div>
                    </div>

            </div>
            <!-- PayDate Div End -->
        </div>

        <!-- {{dividentForm.valid}} {{dividentForm.pristine}} {{dividentForm.dirty}} {{dividentForm}} -->
        <!--Div Start -->
        <div class="form-group">
            <div class="row" style="margin: 0;">
                <div class="col-sm-2">
                <label>Holding Rate*</label>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" [ngClass]="{ 'is-invalid': submitted && formFields.holdingRate.errors }" formControlName="holdingRate" type="number" step=".05" required>
                    <div *ngIf="submitted && formFields.holdingRate.errors" class="invalid-feedback">
                        <div *ngIf="formFields.holdingRate.errors.required">Rate is required</div>
                    </div>
                </div>
                
                <div class="col-sm-2"></div>

                <div class="col-sm-2">
                    <label>Fx Rate * </label>
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && formFields.fxRate.errors }" formControlName="fxRate" type="number" step=".05" required>
                        <div *ngIf="submitted && formFields.fxRate.errors" class="invalid-feedback">
                            <div *ngIf="formFields.fxRate.errors.required">FxRate is required</div>
                        </div>
                    </div>

            </div>
            <!-- Div End -->
        </div>

        <!-- Modal Footer Starts -->
        <div class="modal-footer">

            <button *ngIf="editDividend" type="button" class="btn btn-danger mr-auto" [disabled]="isDeleting"
            (click)="deleteDividend()"><i class="fa fa-trash"></i> Delete
            <span *ngIf="isDeleting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
    
            <button type="button" class="btn btn-secondary" (click)="close()">
                <i class="fa fa-times" aria-hidden="true"></i> Cancel
            </button>
    
            <button type="submit" class="btn btn-pa" [disabled]="!dividentForm.valid || noResult">
                <!-- <button type="submit" class="btn btn-pa"> -->
                <i class="fa"></i> Save
                <!-- <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
            </button>
            <!-- Modal Footer Ends -->
            </div>

        </div>
    
         <!------ Form End------>
          </form>
        
        </div>

    </div>
    <!-- Modal Dialog Div Ends -->

</div>
<!-- Modal Div Starts Ends -->
