<!-- Modal Div Starts -->
<div bsModal #dividendModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: 'static'}">

  <!-- Modal Dialog Div Starts -->
  <div class="modal-dialog modal-dialog-centered modal-lg" id="modal-lg">
    <!-- Modal Content Starts -->
    <div class="modal-content">
        <!------ Form Starts------>

        <form [formGroup]="dividentForm" (ngSubmit)="onSubmit()">

        <!-- Modal Header -->
        <div class="modal-header color-primary">
          <h3>Create Dividend</h3>
          <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
          <!--End Modal Header -->
        </div>

        <!-- No Result Alert -->
        <alert *ngIf="noResult || noCurrencyFound" type="danger" [dismissible]="true">
            <strong>Warning!</strong> Please, only select values from the dropdown!
        </alert>
        <!-- No Result Alert Ends -->

         <!-- Modal Body Starts-->
        <div class="modal-body">

        <!-- Ticker Div Starts -->
          <div class="form-group">
            <div class="row m-0">
              <div class="col-sm-3">
                <label> Ticker * </label>
              </div>
              <!-- ticker Drop Down -->
              <div class="col-sm-9">
                <input class="form-control"
                placeholder="Select ticker"
                formControlName="ticker"
                [ngClass]="{ 'is-invalid': formFields.ticker.errors && formFields.ticker.invalid && formFields.ticker.touched }"
                autocomplete="off"
                typeaheadWaitMs="500"
                [isAnimated]="true"
                [typeaheadScrollable]="true"
                [typeaheadIsFirstItemActive]="true"
                [typeaheadMinLength]="0"
                [typeaheadOptionsInScrollableView]="15"
                [typeahead]="ticker$"
                (typeaheadNoResults)="typeaheadNoResults($event)"
                />
                <div *ngIf="formFields.ticker.invalid" class="invalid-feedback">Ticker is required</div>
              </div>
            </div>

              <div class="row" style="margin: 10px 0 0 0;">

              <div class="col-sm-3">
                <label>Currency * </label>
                </div>
                <div class="col-sm-9">
                <input class="form-control"
                    placeholder="Select currency"
                    formControlName="currency"
                    [ngClass]="{ 'is-invalid': formFields.currency.errors && formFields.currency.invalid && formFields.currency.touched}"
                    autocomplete="off"
                    typeaheadWaitMs="500"
                    [isAnimated]="true"
                    [typeaheadScrollable]="true"
                    [typeaheadIsFirstItemActive]="true"
                    [typeaheadMinLength]="0"
                    [typeaheadOptionsInScrollableView]="15"
                    [typeahead]="currencies$"
                    (typeaheadNoResults)="typeaheadNoCurrency($event)"
                    />
                    <div *ngIf="formFields.currency.invalid" class="invalid-feedback">Currency is required</div>
                </div>
                </div>

          </div>
          <!-- ticker Div Ends -->

        <fieldset class="wrap-dates">
            <legend class="dates-heading">Dates</legend>

        <!-- Notice Date Div Starts -->
        <div class="form-group">
        <div class="row m-0">
            <div class="col-sm-3">
            <label> Notice Date * </label>
            </div>
            <div class="col-sm-9">
            <input ngxDaterangepickerMd
                formControlName="noticeDate"
                class="form-control"
                [ngClass]="{ 'is-invalid': formFields.noticeDate.errors && formFields.noticeDate.invalid && formFields.noticeDate.touched }"
                type="text"
                placeholder="Select notice date"
                [singleDatePicker]="true"
                [autoApply]="true"
                autocomplete="off"
                (keydown)="onKeydown($event)"
                 />

            <div *ngIf="formFields.noticeDate.errors && formFields.noticeDate.invalid && formFields.noticeDate.touched" class="invalid-feedback">
            <div *ngIf="formFields.noticeDate.errors.required && formFields.noticeDate.invalid && formFields.noticeDate.touched">Notice Date is required</div>
            </div>
            </div>
        </div>
        <!-- Notice Date Div End -->
        </div>

        <!-- ExDate Div Starts -->
        <div class="form-group">
            <div class="row m-0">
                <div class="col-sm-3">
                <label> Ex-Date * </label>
                </div>
                <div class="col-sm-9">
                <input ngxDaterangepickerMd
                    formControlName="exDate"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': formFields.exDate.errors && formFields.exDate.invalid && formFields.exDate.touched}"
                    type="text"
                    placeholder="Select ex-Date"
                    [singleDatePicker]="true"
                    [autoApply]="true"
                    autocomplete="off"
                    (keydown)="onKeydown($event)"
                />
                <div *ngIf="formFields.exDate.errors && formFields.exDate.invalid && formFields.exDate.touched" class="invalid-feedback">
                    <div *ngIf="formFields.exDate.errors.required && formFields.exDate.invalid && formFields.exDate.touched">Ex-Date is required</div>
                </div>
                </div>
            </div>
            <!-- ExDate Div End -->
        </div>

        <!-- RecordDate Div Starts -->
        <div class="form-group">
            <div class="row m-0">
                <div class="col-sm-3">
                <label> Record Date * </label>
                </div>
                <div class="col-sm-9">
                <input ngxDaterangepickerMd
                    formControlName="recordDate"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': formFields.recordDate.errors && formFields.recordDate.invalid && formFields.recordDate.touched}"
                    type="text"
                    placeholder="Select record date"
                    [singleDatePicker]="true"
                    [autoApply]="true"
                    autocomplete="off"
                    (keydown)="onKeydown($event)"
                />
                <div *ngIf="formFields.recordDate.errors && formFields.recordDate.invalid && formFields.recordDate.touched" class="invalid-feedback">
                    <div *ngIf="formFields.recordDate.errors.required && formFields.recordDate.invalid && formFields.recordDate.touched">Record Date is required</div>
                </div>
                </div>
            </div>
            <!-- RecordDate Div End -->
        </div>

        <!-- PayDate Div Starts -->
        <div class="form-group">
            <div class="row m-0">
                <div class="col-sm-3">
                <label> Pay Date * </label>
                </div>
                <div class="col-sm-9">
                <input ngxDaterangepickerMd
                    formControlName="payDate"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': formFields.payDate.errors && formFields.payDate.invalid && formFields.payDate.touched}"
                    type="text"
                    placeholder="Select pay date"
                    name="payDate"
                    [singleDatePicker]="true"
                    [autoApply]="true"
                    autocomplete="off"
                    (keydown)="onKeydown($event)"
                />
                <div *ngIf="formFields.payDate.errors && formFields.payDate.invalid && formFields.payDate.touched" class="invalid-feedback">
                    <div *ngIf="formFields.payDate.errors.required && formFields.payDate.invalid && formFields.payDate.touched">Pay Date is required</div>
                </div>
                </div>
            </div>
            <!-- PayDate Div End -->
        </div>
        </fieldset>

        <!-- Heading -->
        <fieldset style="margin-top: 1rem;">
            <legend>Rates</legend>

        <!-- PayDate Div Starts -->
        <div class="form-group">
            <div class="row m-0">
                <div class="col-sm-2 pl-1 pr-1">
                <label> Rate/Ratio * </label>
                </div>
                <div class="col-sm-2 pl-1 pr-1">
                    <input class="form-control" [ngClass]="{ 'is-invalid': formFields.ratio.errors && formFields.ratio.invalid && formFields.ratio.touched }" formControlName="ratio" type="number" step=".05">
                    <div *ngIf="formFields.ratio.errors && formFields.ratio.invalid && formFields.ratio.touched" class="invalid-feedback">
                        <div *ngIf="formFields.ratio.errors.required && formFields.ratio.invalid && formFields.ratio.touched">Ratio is required</div>
                    </div>
                </div>


                <div class="col-sm-2 pr-1">
                    <label>Holding Rate *</label>
                    </div>
                    <div class="col-sm-2 pl-1 pr-1">
                        <input class="form-control" [ngClass]="{ 'is-invalid': formFields.holdingRate.errors && formFields.holdingRate.invalid && formFields.holdingRate.touched}" formControlName="holdingRate" type="number" step=".05">
                        <div *ngIf="formFields.holdingRate.errors && formFields.holdingRate.invalid && formFields.holdingRate.touched" class="invalid-feedback">
                            <div *ngIf="formFields.holdingRate.errors.required && formFields.holdingRate.invalid && formFields.holdingRate.touched">Rate is required</div>
                        </div>
                    </div>

                <div class="col-sm-2 pr-1">
                    <label>Fx Rate * </label>
                    </div>
                    <div class="col-sm-2 pl-1 pr-1">
                        <input class="form-control" [ngClass]="{ 'is-invalid': formFields.fxRate.errors && formFields.fxRate.invalid && formFields.fxRate.touched }" formControlName="fxRate" type="number" step=".05">
                        <div *ngIf="formFields.fxRate.errors && formFields.fxRate.invalid && formFields.fxRate.touched" class="invalid-feedback">
                            <div *ngIf="formFields.fxRate.errors.required && formFields.fxRate.invalid && formFields.fxRate.touched">Rate is required</div>
                        </div>

                    </div>

            </div>
            <!-- PayDate Div End -->
        </div>

        </fieldset>

        <!-- Modal Footer Starts -->
        <div class="modal-footer">

            <button *ngIf="editDividend" type="button" class="btn btn-danger mr-auto" [disabled]="isDeleting"
            (click)="deleteDividend()"><i class="fa fa-trash"></i> Delete
            <span *ngIf="isDeleting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
    
            <button type="button" class="btn btn-secondary" (click)="close()">
                <i class="fa fa-times" aria-hidden="true"></i> Cancel
            </button>
    
            <button type="submit" class="btn btn-pa" [ngClass]="{'cursor-not-allowed': !dividentForm.valid}"
            [disabled]="!dividentForm.valid || noResult || noCurrencyFound || isSaving">
            <i class="fa" [ngClass]=" {'fa-edit':editDividend, 'fa-save':!editDividend}"></i>
            {{editDividend ? "Update" : "Save"}}
            <span *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
            <!-- Modal Footer Ends -->
            </div>

        </div>
         <!------ Form End------>
          </form>
        
        </div>

    </div>
    <!-- Modal Dialog Div Ends -->

</div>
<!-- Modal Div Starts Ends -->
