body, html{
    margin: 0; padding: 0; height: 100%;
}
 
.md-datepicker-input-container {
    width: 150px;
}

.mat-datepicker-content .mat-calendar
{ 
     zoom: 0.50;
}
 
  ::ng-deep.greenBackground {
    background-color: #b5e6b5;
  }
  
  ::ng-deep .redFont {
    color: red;
    font-style: italic;
     
  }