<div class="test" style="z-index: 99999999;">
  <form #roleForm="ngForm" novalidate (ngSubmit)="save()">
    <div class="modal-body">
      <div class="form-group row required">
        <label class="col-sm-3 col-form-label text-right control-label">Account</label>
        <div class="col-sm-9">
          <p-autoComplete required placeholder="Search..." #accountInput [forceSelection]="true"
            [ngStyle]="{'border-color': 'red'}" [(ngModel)]="account" [suggestions]="accounts" field="name"
            name="accountName" (completeMethod)="onSearchAccount($event)" [inputStyle]="{'width': '80%'}"
            [dropdown]="true"></p-autoComplete>
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-sm-3 col-form-label text-right control-label">Customer</label>
        <div class="col-sm-9">
          <p-autoComplete required placeholder="Search..." [forceSelection]="true" [ngStyle]="{'border-color': 'red'}"
            [(ngModel)]="customer" [suggestions]="customers" field="name" name="customerName"
            (completeMethod)="onSearchCustomer($event)" [inputStyle]="{'width': '80%'}" [dropdown]="true">
          </p-autoComplete>
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-sm-3 col-form-label text-right control-label">Value</label>
        <div class="col-sm-3">
          <input required class="form-control" type="number" name="value" [(ngModel)]="ledger.value">
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-sm-3 col-form-label text-right control-label">Effective Date</label>
        <div class="col-sm-9">
          <p-calendar appendTo="body" required [(ngModel)]="effectiveDate" name="effectiveDate" dateFormat="mm-dd-yy"
            [showIcon]="true" [readonlyInput]="true">
          </p-calendar>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="!roleForm.form.valid">
        <i class="fa fa-save"></i>
        <span>Save</span>
      </button>
    </div>
  </form>
</div>