<!-- Actions Container -->
<div class="row mt-2">

  <!-- File Type Dropdown -->
  <div class="col-auto">

    <select class="form-control" [(ngModel)]="fileType" (ngModelChange)="onChangeFileType($event)">
      <option [disabled]="true">Select a File Type</option>
      <option *ngFor="let fileType of fileTypes">
        {{ fileType }}
      </option>
    </select>

  </div>
  <!-- File Type Dropdown Ends -->

  <!-- File Upload Actions -->
  <div class="col-auto">

    <!-- Download Template -->
    <button class="btn btn-pa mr-2" type="button" [disabled]="fileType === 'Select a File Type'"
      (click)="onDownloadTemplate()">
      Download Template
    </button>
    <!-- Download Template Ends -->

    <!-- File Input -->
    <input #fileInput class="btn btn-pa mr-2 file-input" type="file" (change)="onFileInput($event.target.files)">
    <!-- File Input Ends -->

    <!-- Upload File -->
    <button class="btn btn-pa mr-2" type="button" [disabled]="disableFileUpload || uploadLoader"
      (click)="onUploadFile()">
      Upload
      <span *ngIf="uploadLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
    <!-- Upload File Ends -->

    <!-- Commit File -->
    <button class="btn btn-pa" type="button" [hidden]="fileType !== 'Trades' || previewData.length === 0" [disabled]="commitLoader || disableCommit"
      (click)="onCommitData()">
      Commit
      <span *ngIf="commitLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
    <button class="btn btn-pa" type="button" [hidden]="fileType !== 'Journals' || previewData.length === 0" [disabled]="commitLoader || disableCommit"
      (click)="onCommitData()">
      Commit
      <span *ngIf="commitLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
    <!-- Commit File Ends -->

  </div>
  <!-- File Upload Actions Ends -->

  <!-- Expand/Collapse Button -->
  <!-- <ng-template #tooltipTemplate>{{marketPricesConfig.chartsView ? 'Expand' : 'Collapse'}}</ng-template>
  <button class="btn btn-pa" [tooltip]="tooltipTemplate" placement="top"
    (click)="marketPricesConfig.chartsView = !marketPricesConfig.chartsView">
    <i class="fa"
      [ngClass]="{'fa-arrow-right': marketPricesConfig.chartsView, 'fa-arrow-left': !marketPricesConfig.chartsView}"></i>
  </button> -->
  <!-- Expand/Collapse Button Ends -->

</div>
<!-- Actions Container Ends -->

<!-- File Upload AG Grid -->
<div [ngClass]="{'w-100' : displayGrid, 'd-none' : !displayGrid}" [ngStyle]="styleForLogsHeight">

  <ag-grid-angular class="w-100 h-100 ag-theme-balham" [gridOptions]="uploadGrid">
  </ag-grid-angular>

</div>
<!-- File Upload AG Grid Ends -->

<!-- Review Grid Container -->
<div [hidden]="!displayPreviewGrid" [ngStyle]="styleForLogsHeight">

  <!-- Main Split Row Starts -->
  <div class="split-area row h-100">

    <!-- AS Split Main Container -->
    <as-split class="pl-15 pr-15" disabled="false" direction="horizontal" [useTransition]="true">

      <!-- Review Grid Split Area -->
      <as-split-area [visible]="true" [size]="70" order="1">

        <!-- Review Grid -->
        <ag-grid-angular class="h-100 ag-theme-balham" [gridOptions]="previewGrid">
        </ag-grid-angular>
        <!-- Review Grid Ends -->

      </as-split-area>
      <!-- Review Grid Split Area Ends -->

      <!-- Content Viewer Split Area -->
      <as-split-area [visible]="true" [size]="30" order="2">

        <div *ngIf="!exceptionContent" class="w-100 h-100 d-flex justify-content-center align-items-center">
          <p class="text-center h4 font-weight-light">Please click on a cell to view exception details</p>
        </div>

        <lp-content-viewer *ngIf="exceptionContent" class="h-100" [content]="exceptionContent" contentType="json">
        </lp-content-viewer>

      </as-split-area>
      <!-- Content Viewer Split Area Ends -->

    </as-split>
    <!-- AS Split Main Container Ends -->

  </div>
  <!-- Main Split Row Ends -->

</div>
<!-- Review Grid Container Ends -->

<!-- Confirmation Modal Component -->
<app-confirmation-modal #confirmationModal [title]="'Reset Performance'"
  [description]="'All your changes will be lost.\nAre you sure you want to reset performance?'"
  (confirmed)="confirmReset()">
</app-confirmation-modal>