<!-- Loader -->
<div *ngIf="isLoading" class="loader-wrapper mtop-15">
  <lp-loading></lp-loading>
  <!-- Loader -->
</div>

<!-- <div [hidden]="isLoading"> -->

<div [hidden]="isLoading" class="row">

  <!-- Symbol Filter -->
  <div class="col-auto">
    <input type="text" autocomplete="off" placeholder="Filter by Symbol" name="symbol" [(ngModel)]="filterBySymbol"
      (ngModelChange)="ngModelChangeSymbol($event)" (keyup)="onSymbolKey($event)" class="form-control" />
  </div>
  <!-- Symbol Filter Ends -->

  <!-- Date Picker Div Starts -->
  <div class="col-auto">
    <!-- <form>
        <input ngxDaterangepickerMd
            class="form-control"
            type="text"
            placeholder="Choose date"
            [(ngModel)]="selected"
            (ngModelChange)="ngModelChangeDates($event)"
            name=" selected"
            [autoApply]="true"
            [alwaysShowCalendars]="true"
            [keepCalendarOpeningWithRange]="true"
           />
      </form> -->
  </div>
  <!-- Date Picker Div Ends -->

  <!-- Clear Button Div Starts -->
  <div class="col-auto">
    <button (click)="clearFilters()" class="btn btn-pa" value="clear" tooltip="Clear" placement="top">
      <i class="fa fa-remove"></i>
    </button>
  </div>
  <!-- Clear Button Div Ends -->

  <!-- Util Buttons Div Starts -->
  <div class="col-auto ml-auto">

    <!-- Refresh Button Div Starts -->
    <div class="mr-2 d-inline-block">
      <button (click)="refreshReport()" class="btn btn-pa" value="refresh" tooltip="Refresh" placement="top">
        <i class="fa fa-refresh"></i></button>
    </div>
    <!-- Refresh Button Div Ends -->

    <div class="mr-2 d-inline-block">
      <button class="btn btn-pa" type="button" value="showModal" (click)="openSecurityModal()" tooltip="Create Security"
        placement="top">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>

    <!-- Expand/Collapse Button -->
    <!-- <div class="mr-3 d-inline-block">
        <ng-template #tooltipTemplate>{{dividendScreenRatio.detailsView ? 'Expand' : 'Collapse'}}</ng-template>
        <button (click)="dividendScreenRatio.detailsView = !dividendScreenRatio.detailsView" class="btn btn-pa"
          [tooltip]="tooltipTemplate" placement="top">
          <i class="fa"
            [ngClass]="{'fa-arrow-right': dividendScreenRatio.detailsView, 'fa-arrow-left': !dividendScreenRatio.detailsView}"></i>
        </button>
      </div> -->

  </div>
  <!-- Util Buttons Div Ends -->

</div>

<!-- Main Split Row Starts -->
<div [hidden]="isLoading" class="row h-100" style="margin-top: 20px;">

  <ag-grid-angular class="w-100 h-100 ag-theme-balham" [gridOptions]="gridOptions" (rowSelected)="onRowSelected($event)"
    [rowData]="rowData">
  </ag-grid-angular>

</div>
<!-- </div> -->

<app-create-security #securityModal (modalClose)="closeSecurityModal()"></app-create-security>

<!-- Confirmation Modal Selector -->
<app-confirmation-modal #confirmationModal [title]="'Delete Security Extended'" (confirmed)="deleteSecurityExtend()">
</app-confirmation-modal>
<!-- Confirmation Modal Selector Ends -->