<!-- Hide Grid Container -->
<div *ngIf="hideGrid" [ngStyle]="processingMsgDiv">
    <div class="d-flex align-items-center justify-content-center">
        <h1> Posting Engine is Running. Please Wait. </h1>
    </div>
</div>
<!-- Hide Grid Container Ends -->

<!-- Report Main Container -->
<div [hidden]="isLoading" [ngStyle]="{ 'display': hideGrid ? 'none' : 'initial' } ">

    <!-- Filters Row -->
    <div class="row ">

        <!-- Funds Dropdown -->
        <!-- <div class="col-auto">
            <select class="form-control" [(ngModel)]="fund" (ngModelChange)="changeFund($event)">
                <option selected>All Funds</option>
                <option *ngFor="let fund of funds" [ngValue]="fund.fundCode">
                    {{ fund.fundCode }}
                </option>
            </select>
        </div> -->
        <!-- Funds Dropdown Ends -->

        <!-- Symbol Filter -->
        <div class="col-auto">
            <input type="text" autocomplete="off" placeholder="Filter by Symbol" name="symbol"
                [(ngModel)]="filterBySymbol" (ngModelChange)="ngModelChangeSymbol($event)" (keyup)="onSymbolKey($event)"
                class="form-control" />
        </div>
        <!-- Symbol Filter Ends -->

        <!-- DateRange Label -->
        <div class="font-weight-bold">
            <label class="text-right"> {{ DateRangeLabel }} </label>
        </div>
        <!-- DateRange Label Ends -->

        <!-- Date Picker -->
        <div class="col-auto">
            <form>
                <input ngxDaterangepickerMd class="form-control" type="text" autocomplete="off"
                    placeholder="Choose date" [(ngModel)]="selected" name="selectedDaterange" [showClearButton]="true"
                    (ngModelChange)="changeDate($event)" [maxDate]="maxDate" />
            </form>
        </div>
        <!-- Date Picker Ends -->

        <!-- Clear Button -->
        <div class="col-auto">
            <button (click)="clearFilters()" class="btn btn-pa" tooltip="Clear" placement="top">
                <i class="fa fa-remove"></i>
            </button>
        </div>
        <!-- Clear Button Ends -->

        <!-- Util Buttons -->
        <div class="ml-auto">

            <!-- Refresh Button -->
            <div class="mr-2 d-inline-block">
                <button (click)="refreshReport()" class="btn btn-pa" tooltip="Refresh" placement="top">
                    <i class="fa fa-refresh"></i></button>
            </div>
            <!-- Refresh Button Ends -->

            <!-- Export to Excel Button -->
            <div class="mr-2 d-inline-block">
                <button (click)="onBtExport()" class="btn btn-pa" tooltip="Export to Excel" placement="top">
                    <i class="fa fa-arrow-circle-o-down"></i>
                </button>
            </div>
            <!-- Export to Excel Button Ends -->

        </div>
        <!-- Util Buttons Ends -->

    </div>
    <!-- Filters Row Ends -->

    <!-- Report Grid Starts -->
    <div [ngStyle]="styleForHeight">

        <!-- Main Split Row Starts -->
        <div class="split-area row h-100">

            <!-- AS Split Main Container -->
            <as-split class="pl-15 pr-15" disabled="false" direction="horizontal" [useTransition]="true">

                <!-- Detail PnL Split Area -->
                <as-split-area [visible]="true" [size]="50" order="1">
                    <ag-grid-angular class="w-100 h-100 ag-theme-balham" (rowSelected)="onRowSelected($event)"
                        [gridOptions]="gridOptions">
                    </ag-grid-angular>
                </as-split-area>
                <!-- Detail PnL Split Area Ends -->

                <!-- Other Split Area -->
                <as-split-area [visible]="false" [size]="50" order="2">

                </as-split-area>
                <!-- Other Split Area Ends -->

            </as-split>
            <!-- AS Split Main Container Ends -->

        </div>
        <!-- Main Split Row Ends -->

    </div>
    <!-- Report Grid Ends -->

</div>
<!-- Reports Main Container Ends-->

<!-- Create Dividend Modal -->
<app-create-dividend #dividendModal (modalClose)="closeDividendModal()"></app-create-dividend>

<!-- Create Stock Splits Modal -->
<app-create-stock-splits #stockSplitsModal (modalClose)="closeStockSplitModal()">
</app-create-stock-splits>

<!-- Create Security Modal -->
<app-create-security #securityModal (modalClose)="closeSecurityModal()"></app-create-security>