<div class="d-flex justify-content-center">
  <div class="spinner-grow m-top-10" role="status" *ngIf="!show">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="form_wrapper" *ngIf="show">
  <div class="d-flex justify-content-between title-bg-color">
    <div>
      <h3>List of Services</h3>
    </div>

    <div class="icon-wrap">
      <h2><i class="fa fa-refresh" aria-hidden="true" (click)="loadService()"></i></h2>
    </div>
  </div>

  <div class="card-wrapper" *ngFor="let service of listOfServices">
    <div>
      <div class="w-100 d-flex flex-row justify-content-between">
        <div class="fz-20 label-p">
          <p>{{ service.serviceName }}</p>
        </div>

        <div
          class="status"
          [ngClass]="{
            'bc-green': service.status == 'Running',
            'bc-red': service.status == 'Stopped'
          }"
        >
          <span>{{ service.status }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
