.card-wrapper {
  max-width: 100%;
  margin: 4px
}

.form_wrapper {
  box-sizing: border-box;
  margin: 65px auto;
  width: 100%;
  padding-bottom: 2px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.form_wrapper h3 {
  padding: 20px;
  background: #eee;
}

.icon-wrap{
  margin: 17px 14px;
}

.m-top-10{
  margin-top: 10%;
}

.title-bg-color {
  background: #eee;
}

.status{
  border-radius: 25px;
  color: #ffffff;
  height: 27px;
  width: 95px;
  padding: 2px 19px;
}

::ng-deep .form_wrapper .mat-card{
  padding: 12px 16px 12px 16px !important;
}

::ng-deep .mat-progress-spinner circle {
  stroke: rgb(2, 117, 216) !important;
}