.card-wrapper {
  max-width: 100%;
  margin: 4px;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 12px;
  border-radius: 4px;
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.form_wrapper {
  box-sizing: border-box;
  margin: 65px auto;
  width: 100%;
  padding-bottom: 2px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.form_wrapper h3 {
  padding: 20px;
  background: #eee;
}

.icon-wrap {
  margin: 17px 14px;
}

.m-top-10 {
  margin-top: 10%;
}

.title-bg-color {
  background: #eee;
}

.status {
  border-radius: 25px;
  color: #ffffff;
  height: 27px;
  width: 95px;
  padding: 2px 19px;
}

.label-p {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  padding: 0 0 0 34px;
}

/* Spinner Style */
::ng-deep .spinner-grow {
  width: 4rem !important;
  height: 4rem !important;
  color: #0275D8;
}
