<!-- Loading Spinner -->
<div *ngIf="!show" class="d-flex justify-content-center align-items-center height-50vh">
  <lp-loading></lp-loading>
</div>
<!-- Loading Spinner Ends -->

<div class="form_wrapper" *ngIf="show">
  <div class="d-flex justify-content-between title-bg-color">
    <div>
      <h3>List of Services</h3>
    </div>

    <div class="icon-wrap">
      <h2><i class="fa fa-refresh" aria-hidden="true" (click)="loadService()"></i></h2>
    </div>
  </div>

  <div class="card-wrapper" *ngFor="let service of listOfServices">
    <div>
      <div class="w-100 d-flex flex-row justify-content-between">
        <div class="fz-20 label-p">
          <p>{{ service.serviceName }}</p>
        </div>

        <div class="status" [ngClass]="{
            'primary-color': service.status == 'Running',
            'bc-red': service.status == 'Stopped'
          }">
          <span>{{ service.status }}</span>
        </div>
      </div>
    </div>
  </div>
</div>