<!-- Hide Grid Div -->
<div *ngIf="hideGrid" #logScroll [ngStyle]="processingMsgDiv">
    <div class="d-flex align-items-center justify-content-center">
        <h1> Posting Engine is Running. Please Wait. </h1>
    </div>
</div>
<!-- Hide Grid Div Ends -->

<!-- Reconciliation Starts -->
<div [ngStyle]="{ 'display': hideGrid ? 'none' : 'initial' } ">

    <!-- Tab View Starts -->
    <tabset class="tab-color">

        <tab heading="Fund Admin" (selectTab)="activeFundAdminReconcile()">
            <div [ngStyle]="style">
                <rep-fundadmin-reconcile *ngIf="fundadminReconcileActive"></rep-fundadmin-reconcile>
            </div>
        </tab>

        <tab heading="DayPnL" (selectTab)="activeDayPnLReconcile()">
            <div [ngStyle]="style">
                <rep-daypnl-reconcile *ngIf="dayPnLReconcileActive"></rep-daypnl-reconcile>
            </div>
        </tab>

        <tab heading="Bookmon" (selectTab)="activeBookmonReconcile()">
            <div [ngStyle]="style">
                <rep-bookmon-reconcile *ngIf="bookmonReconcileActive"></rep-bookmon-reconcile>
            </div>
        </tab>

    </tabset>
    <!-- Tab View Ends -->

</div>
<!-- Reports Ends-->