<p-tabView [ngStyle]="style">
  <p-tabPanel header="OMS Accruals" [ngStyle]="style">
    <div style="clear: both"></div>
    <div [ngStyle]="styleForHeight">
      <ag-grid-angular style="width: 100%; height: 45%" class="ag-theme-balham" [gridOptions]="gridOptions"
        (rowSelected)="onRowSelected($event)" [rowData]="rowData">
      </ag-grid-angular>

      <h4>Allocations</h4>
      <ag-grid-angular style="width: 100%; height: 45%" class="ag-theme-balham" [gridOptions]="allocationsGridOptions"
        [rowData]="allocationsData">
      </ag-grid-angular>

    </div>
  </p-tabPanel>
</p-tabView>

<app-data-modal #dataModal [orderId]="orderId" [title]="title">
</app-data-modal>