::ng-deep .debit {
  background-image: linear-gradient(
    to right,
    rgb(100, 220, 100, 1) 0%,
    rgb(110, 225, 110, 1) 17%,
    rgb(115, 230, 115, 1) 33%,
    rgba(120, 240, 120, 1) 67%,
    rgb(125, 250, 125, 1) 83%,
    rgb(150, 255, 150, 1) 100%
  );
  background-position: 100% 100%;
  text-align: end;
  font-weight: 500;
}

::ng-deep .credit {
  background-image: linear-gradient(
    to left,
    rgb(220, 100, 100, 1) 0%,
    rgb(225, 110, 110, 1) 17%,
    rgba(230, 115, 115, 1) 33%,
    rgba(240, 120, 120, 1) 67%,
    rgba(250, 125, 125, 1) 83%,
    rgba(255, 150, 150, 1) 100%
  );
  padding-right: 18px !important;
  text-align: end;
  font-weight: 500;
}

::ng-deep .rightAlign {
  text-align: right;
}
