<!-- Hide Grid Div Starts -->
<div *ngIf="hideGrid" [ngStyle]="containerDiv">
    <div class="d-flex align-items-center justify-content-center">
        <h1> Posting Engine is Running. Please Wait. </h1>
    </div>
</div>
<!-- Hide Grid Div Ends -->

<!-- Container Div Starts -->
<div [ngStyle]="{ 'display': hideGrid ? 'none' : 'initial' } ">
    <tabset class="tab-color">
        <!-- Server Side Journal Tab Starts -->
        <tab heading="Journals" (selectTab)="onSelect($event)">
            <div [ngStyle]="style">
                <app-journals-server-side></app-journals-server-side>
            </div>
        </tab>
        <!-- Server Side Journal Tab Ends -->

        <!-- Client Side Journal Tab Starts -->
        <!-- <tab heading="Client Side Journals" (selectTab)="activeClientJournal()">
            <app-journals-ledgers *ngIf="isClientJournalActive"></app-journals-ledgers>
        </tab> -->
        <!-- Client Side Journal Tab Ends -->
    </tabset>
</div>
<!-- Container Div Ends -->