<!-- Hide Grid Div Starts -->
<div *ngIf="hideGrid" [ngStyle]="containerDiv">
    <div class="d-flex align-items-center justify-content-center">
        <h1> Posting Engine is Running. Please Wait. </h1>
    </div>
</div>
<!-- Hide Grid Div Ends -->

<!-- Container Div Starts -->
<div [ngStyle]="{ 'display': hideGrid ? 'none' : 'initial' } ">
    <p-tabView [ngStyle]="style" (onChange)="onTabChange($event)">
        <!-- Server Side Journal Tab Starts -->
        <p-tabPanel header="Server Side Journals">
            <app-journals-server-side></app-journals-server-side>
        </p-tabPanel>
        <!-- Server Side Journal Tab Ends -->

        <!-- Journal Tab Starts -->
        <p-tabPanel header="Client Side Journals">
            <app-journals-ledgers *ngIf="isClientJournalActive"></app-journals-ledgers>
        </p-tabPanel>
        <!-- Journal Tab Ends -->
    </p-tabView>
</div>
<!-- Container Div Ends -->