<!----- Tab View Starts ----->
<p-tabView>
  <!----- Journal Tab Starts ----->
  <p-tabPanel header="Grid Views">
    <!----- Grid View Div Starts ----->
    <div [ngStyle]="styleForHeight" style="display: flex">
      <!----- AG Grid Starts ----->
      <ag-grid-angular style="width: 55%; height: 100%" class="ag-theme-balham" [gridOptions]="gridOptions">
      </ag-grid-angular>
      <!----- AG Grid Ends ----->
      <!----- Action buttons Template Starts ----->
      <ng-template #actionButtons let-row>
        <button class="btn action-btn fixHeight" (click)="viewLayout(row)" tooltip="View" placement="auto"
          container="body">
          <i class="fa fa-lg fa-eye" aria-hidden="true"></i>
        </button>
        <button class="btn action-btn fixHeight" (click)="showConfirmation(row)" tooltip="Delete" placement="auto"
          container="body">
          <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
        </button>
      </ng-template>
      <!----- Action buttons Template Ends ----->

      <!----- Grid Layout Json Div Starts ----->
      <div *ngIf="gridLayoutJson" style="width: 45%; height: 100%; overflow-y: scroll; padding-left: 2rem">
        <pre>{{gridLayoutJson | json}}</pre>
      </div>
      <!----- Grid Layout Json Div Ends ----->

    </div>
    <!----- Grid View Div Ends ----->
  </p-tabPanel>
</p-tabView>
<!----- Tab Views Ends ----->

<app-confirmation-modal #confirmationModal (confirmDeletion)="deleteLayout()"> </app-confirmation-modal>