
<div class="row ag-header-cell-text" style="margin-top: 5px; padding-left: 25px" >
    <span ref="eText" class="ag-header-cell-text"  >
</span>
</div>
    <div class="row mx-auto form-group"   >
        <select class="form-control"   [(ngModel)]="gridLayoutID" (ngModelChange)="RestoreLayout($event)">
            <option [ngValue]="0"  selected >Select layout</option>
            <option *ngFor="let l of gridLayouts" [ngValue]="l.Id">
            {{ l.GridLayoutName }} ({{ l.IsPublic ? 'Public' : 'Private' }})
            </option>
        </select>
    </div>

    <div *ngIf="isNewLayout" class="row mx-auto form-group">
        <input class="form-control"  placeholder="Layout Name" type="text" [(ngModel)]="layoutName"  step=".07"> 
             
        <div class="ml-auto mt-2 mr-4">
            <input type="checkbox" [(ngModel)]="isPublic"  name="Public" value="1"> Public
        </div>
          
    </div>

    <div class="row ml-auto" *ngIf="!isNewLayout" style="margin: 5px">
        <button (click)="onEditSave()" class="btn btn-info">Update</button>  
        <button style="margin-left: 5px;" (click)="onCreateNew()" class="btn btn-info">New</button> 
    </div>

    <div *ngIf="isNewLayout" class="form-group m-2">
        

        
        
        <div class="row" *ngIf="isNewLayout">
            <div class="ml-auto mt-2 mr-3">
                <button style="margin-left: 5px;" (click)="onCreateNew()" class="btn btn-info">Cancel</button>
                <button style="margin-left: 5px;" (click)="onNewSave()" class="btn btn-info">Save</button> 
            </div>
        </div>    
    </div>

    
  
     