
<div class="row ag-header-cell-text" style="margin-top: 5px; padding-left: 25px" >
    <span ref="eText" class="ag-header-cell-text"  >
</span>
</div>
    <div class="row mx-auto form-group"   >
        <select class="form-control"   [(ngModel)]="gridLayoutID" (ngModelChange)="RestoreLayout($event)">
            <option [ngValue]="0"  selected >Select layout</option>
            <option *ngFor="let l of gridLayouts" [ngValue]="l.Id">
            {{ l.GridLayoutName }} ({{ l.IsPublic ? 'Public' : 'Private' }})
            </option>
        </select>
    </div>

    <div *ngIf="isNewLayout" class="row mx-auto form-group">
        <input class="form-control"  placeholder="Layout Name" type="text" [(ngModel)]="layoutName"  step=".07"> 
             
        <div class="ml-auto mt-2 mr-4">
            <input type="checkbox" [(ngModel)]="isPublic"  name="Public" value="1"> Public
        </div>
          
    </div>

    <div class="row ml-auto" *ngIf="!isNewLayout" style="margin: 5px">
        <button (click)="onEditSave()" class="btn btn-info">Update</button>  
        <button style="margin-left: 5px;" (click)="onCreateNew()" class="btn btn-info">New</button> 
    </div>

    <div *ngIf="isNewLayout" class="form-group m-2">
        

        
        
        <div class="row" *ngIf="isNewLayout">
            <div class="ml-auto mt-2 mr-3">
                <button style="margin-left: 5px;" (click)="onCreateNew()" class="btn btn-info">Cancel</button>
                <button style="margin-left: 5px;" (click)="onNewSave()" class="btn btn-info">Save</button> 
            </div>
        </div>    
    </div>

    
  
    <!------ Modal Div ------>
    <div bsModal #modal="bs-modal" 
        class="modal fade" tabindex="-1" 
        role="dialog" aria-labelledby="modal" 
        aria-hidden="true"
        [config]="{backdrop: 'static'}">
        <div class="modal-dialog modal-dialog-centered" id="modal-lg">
            <div class="modal-content">
    <!------- Modal Header ------->
    <div class="modal-header">
        <h3>New Layout</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
    </div>
    <!------- Modal Body ------->
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">
                    <label> Layout Name </label>
                </div>
                <div class="col-sm-9">
                    <input class="form-control"   type="text"   [(ngModel)]="layoutName"  step=".07"> 
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-12 checkboxStyle" style="text-align: right" >
                    <input type="checkbox" [(ngModel)]="public" name="Public" value="1"> Public
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="text-align: right" >
                    <input type="checkbox" [(ngModel)]="private" name="Private" value="2"> Private
                </div>
            </div>
        </div>
    </div>

    <!------- Modal Footer ------->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  (click)="closeModal()"  >Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onNewSave()" >
        <i class="fa fa-save"></i> Save
        </button>
    </div>
    
</div>
</div>
</div>