body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.refresh-spinner {
  display: flex;
  width: 8rem;
  height: 3rem;
  position: absolute;
  top: 46%;
  left: 48%;
  border: 1px solid grey;
  background-color: #fcfbfd;
  color: #606264;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.tabBtn {
  display: inline-block;
}

.md-datepicker-input-container {
  width: 150px;
}

.mat-datepicker-content .mat-calendar {
  zoom: 0.5;
}

::-webkit-scrollbar {
  width: 10px;
  z-index: 1000;
}

::-webkit-scrollbar-thumb {
  /* background-clip: padding-box; */
  border-radius: 16px;
  border: 4px solid transparent;
  background-color: rgba(160, 160, 160);
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}

@media (min-width: 320px) {
  ::ng-deep.md-drppicker.shown.drops-down-right {
    width: 320px;
  }
}

@media (min-width: 768px) {
  ::ng-deep.md-drppicker.shown.drops-down-right {
    width: auto;
  }
}

::ng-deep .debit {
  background-image: linear-gradient(
    to right,
    rgb(100, 220, 100, 1) 0%,
    rgb(110, 225, 110, 1) 17%,
    rgb(115, 230, 115, 1) 33%,
    rgba(120, 240, 120, 1) 67%,
    rgb(125, 250, 125, 1) 83%,
    rgb(150, 255, 150, 1) 100%
  );
  background-position: 100% 100%;
  text-align: end;
  font-weight: 500;
}

::ng-deep .credit {
  background-image: linear-gradient(
    to left,
    rgb(220, 100, 100, 1) 0%,
    rgb(225, 110, 110, 1) 17%,
    rgba(230, 115, 115, 1) 33%,
    rgba(240, 120, 120, 1) 67%,
    rgba(250, 125, 125, 1) 83%,
    rgba(255, 150, 150, 1) 100%
  );
  padding-right: 18px !important;
  text-align: end;
  font-weight: 500;
}

::ng-deep .rightAlign {
  text-align: right;
}

.line-chart-wrapper {
  padding-top: 1.6rem;
  overflow: hidden;
}

.chart-title {
  font-size: 1em;
  font-weight: 500;
  line-height: 0;
}

::ng-deep .line-chart-wrapper svg {
  height: 24rem;
}

::ng-deep .line-chart-wrapper .axis line {
  stroke: #3b3a39 !important;
}

::ng-deep .line-chart-wrapper .y-axis {
  color: #b3b2b6 !important;
}

::ng-deep .line-chart-wrapper .x-axis {
  color: #94918e !important;
}

::ng-deep .line-chart-wrapper .line {
  fill: none;
  stroke-width: 3 !important;
}

::ng-deep .line-chart-wrapper .axis path,
.axis line {
  stroke: #32a0f3;
}
