<!-- Show Date Picker Div -->
<form>
  <div class="form-row">
    <div class="ml-auto w-100">
      <div class="col-12 d-flex justify-content-end">

        <!-- Overlapping Label Div Starts -->
        <div *ngIf="showOverlappingBtn">
          <p class="legend-label">Overlap</p>
        </div>
        <!-- Overlapping Label Div Ends -->
        <!-- Overlapping Color Div Starts -->
        <div *ngIf="showOverlappingBtn">
          <button class="btn overlap-color height-38px width-38px mr-2">
          </button>
        </div>
        <!-- Overlapping Color Div Ends -->

        <!-- Gap Label Div Starts -->
        <div *ngIf="showGapBtn">
          <p class="legend-label">Gap</p>
        </div>
        <!-- Overlapping Label Div Ends -->
        <!-- Gap Color Div Starts -->
        <div *ngIf="showGapBtn">
          <button class="btn gap-color height-38px width-38px mr-2">
          </button>
        </div>
        <!-- Gap Color Div Ends -->

        <!-- Grid Utils Starts -->
        <app-grid-utils class="mr-0" [utilsConfig]="utilsConfig" [gridOptions]="taxRatesGrid" (refresh)="refreshGrid()">
        </app-grid-utils>
        <!-- Grid Utils Ends -->

        <!-- Add Tax Rate Button Starts -->
        <button class="btn btn-info" (click)="openTaxRateModal()" tooltip="Add TaxRate" placement="top">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <!-- Add Tax Rate Button Ends -->
      </div>
    </div>
  </div>
</form>
<!-- Show Date Picker Div Ends -->

<!-- Div To Measure Identifier Starts -->
<div #divToMeasure>
  <!-- Style For Height -->
  <div [ngStyle]="styleForHeight">
    <!-- Ag Grid Selector -->
    <ag-grid-angular class="w-100 h-100 ag-theme-balham" [gridOptions]="taxRatesGrid">
    </ag-grid-angular>
    <!-- Action Buttons Template Starts -->
    <ng-template #actionButtons let-row>
      <button class="btn action-btn width-15 height-30px" (click)="editTaxRate(row)" tooltip="Edit" placement="auto"
        container="body">
        <i class="fa fa-lg fa-edit" aria-hidden="true"></i>
      </button>
      <button class="btn height-30px" (click)="openConfirmationModal(row)" tooltip="Delete" placement="auto"
        container="body">
        <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
      </button>
    </ng-template>
    <!-- Action Buttons Template Ends -->
  </div>
</div>
<!-- Div To Measure Identifier Ends -->

<!-- Tax Rate Modal -->
<app-tax-rate-modal #taxRateModal (closeModalEvent)="closeTaxRateModal()">
</app-tax-rate-modal>

<!-- Confirmation Modal Component -->
<app-confirmation-modal #confirmationModal (confirmDeletion)="deleteTaxRate()" [modalTitle]="'Delete Tax Rate'">
</app-confirmation-modal>