.action-btn {
  margin-left: 2.5rem;
  padding: 2px;
  width: 15%;
}

.overlap-color {
  background-color: #fa8072;
  height: 38px;
  width: 38px;
}

.gap-color {
  background-color: #cd5c5c;
  height: 38px;
  width: 38px;
}
