.action-btn {
  margin-left: 2.5rem;
  padding: 2px;
  width: 15%;
}

.legend-label {
  margin: 0.8rem 0.4rem 0 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 0.5;
}

.overlap-color {
  background-color: #f9a89f;
  height: 38px;
  width: 38px;
}

.gap-color {
  background-color: #ffcfcf;
  height: 38px;
  width: 38px;
}
