<div>
  <div class="d-flex ">

    <div class="w-50">
    <select [disabled]="isLoading" class="custom-select" [(ngModel)]="organization"
      (change)="selectOrganization($event)" required>
      <option hidden [value]="0">Choose Organization</option>
      <option *ngFor="let list of organizationList; let i = index">
        {{ list.OrganizationName }}
      </option>
    </select>
    <div *ngIf="isLoading" class="loader-wrapper">
      <app-loader [loadingText]="false"></app-loader>
    </div>
    </div>

    <div class="w-50" style="text-align: right;">
      <button class="btn btn-pa ml-2" type="button" [disabled]="disableCommit || commitLoader"
    (click)="commitAccountMapping()">
      Commit
      <span *ngIf="commitLoader" class="spinner-border spinner-border-sm" role="status"
        aria-hidden="true"></span>
    </button>
    </div>
  </div>

  <div [ngStyle]="styleForHeight">
    <ag-grid-angular (selectionChanged)="onSelectionChanged($event)" class="ag-theme-balham w-100 h-100"
      [gridOptions]="gridOptions">
    </ag-grid-angular>
  </div>

  <!-- Map Account Modal -->
  <app-chart-of-account-detail #mapAccountModal>
  </app-chart-of-account-detail>
</div>
