<!------ Modal Div Starts------>
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: modal-backdrop}">
  <!------ Modal Dialog Div Starts------>
  <div class="modal-dialog modal-lg modal-dialog-centered" id="modal-lg">
    <!------ Modal Content Div Starts------>
    <div class="modal-content">
      <!------ Form Div Starts------>
      <form #form="ngForm" (ngSubmit)="saveJournal()" [formGroup]="journalForm">
        <!-- Modal Header Starts-->
        <div class="modal-header" style="background-color: #17A2B8;">
          <h3>{{ title }}</h3>
          <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
        </div>

        <!-- Include the Title row -->
        <div class="modal-header">
          <table class="table table-sm table-striped table-bordered table-secondary table-header">
            <thead>
              <tr>
                <th scope="col" class="first-cell">Field</th>
                <th scope="col" class="other-cells center-position">Value</th>
              </tr>
            </thead>
          </table>
        </div>


        <!-- Modal Header Ends-->

        <!-- Modal Body Starts-->
        <div class="modal-body">
          <!-- Grid Div Starts -->
          <div>
            <!-- Style For Height Div Starts -->
            <div [ngStyle]="styleForHight">

              <!-- Table for Headings Starts -->
              <!-- Check the header -->
              <!-- Table for Headings Ends -->

              <!-- Trial Report Div Starts -->
              <div #trialReport [ngStyle]="containerDiv">
                <!-- Table for Data Starts -->
                <table class="table table-sm table-striped table-bordered">
                  <tbody>
                    <tr *ngFor="let report of tableData">
                      <td class="first-cell cell-style"> {{ report.name }}</td>
                      <td class="other-cells balance cell-style">
                        {{ report.value  }}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- Table for Data Ends -->
              </div>
              <!-- Trial Report Div Ends -->
            </div>
            <!-- Style For Height Div Ends-->
          </div>
          <!-- Grid Div Ends-->

        </div>
        <!-- Modal Body Ends-->

      </form>
      <!------ Form Div Ends------>
    </div>
    <!------ Modal Content Div Ends------>
  </div>
  <!------ Modal Dialog Div Ends------>
</div>
<!------ Modal Div Ends------>