<!-- LP Modal -->
<lp-modal #lpModal size="large" [showCloseButton]="true" [showFooter]="false" [title]="title" (closed)="onClose()">

  <!-- No Data Container -->
  <div *ngIf="tableData.length === 0 && customTableData.length === 0" class="no-data-wrapper">

    <h4>No Data Available</h4>

  </div>
  <!-- No Data Container Ends -->

  <!-- Modal Content -->
  <div class="modal-body-wrapper">

    <!-- Data Table -->
    <table *ngIf="tableData.length !== 0 || customTableData.length !== 0"
      class="table table-sm table-striped table-bordered">

      <!-- Table Header -->
      <thead class="table-header table-secondary">

        <!-- Title Row -->
        <tr>
          <th scope="col" class="first-cell">Field</th>
          <th scope="col" class="other-cells text-center">Value</th>
        </tr>
        <!-- Title Row Ends -->

      </thead>
      <!-- Table Header Ends -->

      <!-- Table Body -->
      <tbody>

        <!-- Table Data Container -->
        <ng-container *ngIf="!isCustomData">

          <!-- Data Row -->
          <tr *ngFor="let report of tableData">
            <td class="first-cell cell-style"> {{ report.name }}</td>
            <td class="other-cells cell-style text-right">
              {{(report.name === '$Debit' || report.name === '$Credit'  || report.name === '$Balance') ?  (report.value | number: '1.2-2')  :  report.value }}
            </td>
          </tr>
          <!-- Data Row Ends -->

        </ng-container>
        <!-- Table Data Container Ends -->

        <!-- Table Custom Data Container -->
        <ng-container *ngIf="isCustomData">

          <!-- Custom Data Row -->
          <tr *ngFor="let report of customTableData">
            <td class="first-cell cell-style"> {{ report.name }}</td>
            <td class="other-cells cell-style text-right">
              {{(report.name === '$Debit' || report.name === '$Credit'  || report.name === '$Balance') ?  (report.value | number: '1.2-2')  :  report.value }}
            </td>
          </tr>
          <!-- Custom Data Row Ends -->

        </ng-container>
        <!-- Table Custom Data Container Ends -->

      </tbody>
      <!-- Table Body Ends -->

    </table>
    <!-- Data Table Ends -->

  </div>
  <!-- Modal Content Ends -->

</lp-modal>
<!-- LP Modal Ends -->