.modal {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
  padding: 6px;
  background-color: #0275d8;
  color: white;
}

.modal-body {
  max-height: calc(100vh - 30vh);
  overflow-y: auto;
  padding: 6px;
}

.modal-backdrop {
  position: relative;
}

.close {
  font-size: 1.5rem;
  color: #fff;
  opacity: 1;
}

.no-data-wrapper {
  min-height: 30vh;
  max-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-header {
  color: #3a3b3c;
  background-color: #f5f7f7;
  margin-bottom: 0;
}

.table-header th {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
}

.table-footer {
  color: #2a2b3c;
  background-color: #f5f7f7;
  font-weight: 600;
}

td.balance {
  padding-right: 18px;
  text-align: end;
  font-weight: 500;
}

.cell-style {
  color: black;
  font-weight: 400;
  font-size: 14px;
}

.first-cell {
  width: 30%;
}

.other-cells {
  width: 70%;
}

.end-position {
  text-align: end;
}

.center-position {
  text-align: center;
}

.wrong-balance {
  color: white;
  background-color: rgb(220, 100, 100);
}

::-webkit-scrollbar {
  width: 10px;
  z-index: 1000;
}

::-webkit-scrollbar-thumb {
  /* background-clip: padding-box; */
  border-radius: 16px;
  border: 4px solid transparent;
  background-color: rgba(160, 160, 160);
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}
