<!------ Modal Div Starts------>
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: modal-backdrop}">
  <!------ Modal Dialog Div Starts------>
  <div class="modal-dialog modal-dialog-centered" id="modal-lg">
    <!------ Modal Content Div Starts------>
    <div class="modal-content">
      <!------ Form Div Starts------>
      <form #form="ngForm" (ngSubmit)="saveJournal()" [formGroup]="journalForm">
        <!------- Modal Header Starts------->
        <div class="modal-header">
          <h3 *ngIf="!editJournal"> Create Journal </h3>
          <h3 *ngIf="editJournal"> Edit Journal </h3>
          <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
        </div>
        <!------- Modal Header Ends------->

        <!------- Modal Body Starts------->
        <div class="modal-body">
          <!------- Fund Div Starts ------->
          <div class="form-group">
            <div class="row">
              <!------- Fund Label ------->
              <div class="col-sm-3">
                <label> Fund </label>
              </div>
              <!------- Fund Drop Down ------->
              <div class="col-sm-9">
                <!-- <select [(ngModel)]="accTypeId"  -->
                <select class="custom-select" formControlName="fund" [(ngModel)]="accountFund">
                  <option hidden>Select fund type</option>
                  <option *ngFor="let fund of funds" [ngValue]="fund.FundCode">
                    {{ fund.FundCode }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!------- Fund Div Ends ------->

          <!------- From Account Div Starts ------->
          <div class="form-group">
            <div class="row">
              <!------- From Account Label ------->
              <div class="col-sm-3">
                <label> Account From </label>
              </div>
              <!------- From Account Drop Down ------->
              <div class="col-sm-9">
                <select class="custom-select" formControlName="fromAccount" [(ngModel)]="fromAccountId"
                  (change)=onAccountSelect()>
                  <option hidden [value]="0">Choose your from account type</option>
                  <ng-container *ngFor="let account of allAccounts; trackBy: trackByFn">
                    <option *ngIf="account.AccountId !== toAccountCheck" [ngValue]="account.AccountId">
                      {{ account.AccountName }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <!------- From Account Div Ends ------->

          <!------- To Account Div Starts ------->
          <div class="form-group">
            <!------- To Account Label ------->
            <div class="row">
              <div class="col-sm-3">
                <label> Account To </label>
              </div>
              <!------- TO Account Drop Down ------->
              <div class="col-sm-9">
                <select class="custom-select" formControlName="toAccount" (change)=onAccountSelect()
                  [(ngModel)]="toAccountId">
                  <option hidden [value]="0">Choose your to account type</option>
                  <ng-container *ngFor="let account of allAccounts; trackBy: trackByFn">
                    <option *ngIf="account.AccountId !== fromAccountCheck" [ngValue]="account.AccountId">
                      {{ account.AccountName }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <!------- To Account Div Ends ------->

          <!------- Value Div Starts------->
          <div class="form-group">
            <div class="row">
              <!------- Value Label ------->
              <div class="col-sm-3">
                <label> Value </label>
              </div>
              <!------- Value Input ------->
              <div class="col-sm-9">
                <input class="form-control" formControlName="value" type="number" step=".07">
              </div>
            </div>
          </div>
          <!------- Value Div Ends------->

        </div>
        <!------- Modal Body Ends------->

        <!------- Modal Footer Starts ------->
        <div class="modal-footer">
          <button *ngIf="editJournal" type="button" class="btn btn-danger mr-auto" (click)="deleteJournal()"><i
              class="fa fa-trash"></i> Delete</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()"><i class="fa fa-times"
              aria-hidden="true"></i> Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
            <i class="fa" [ngClass]=" {'fa-edit':editJournal, 'fa-save':!editJournal}"></i>
            {{editJournal ? "Update" : "Save"}}
          </button>
        </div>
        <!------- Modal Footer Ends ------->
      </form>
      <!------ Form Div Ends------>
    </div>
    <!------ Modal Content Div Ends------>
  </div>
  <!------ Modal Dialog Div Ends------>
</div>
<!------ Modal Div Ends------>