
  <tabset>
    <tab heading="Dividends">
      <div [ngStyle]="style">
        <div [ngStyle]="styleForHeight">
          <app-dividends *ngIf="corporateActions"></app-dividends>
        </div>
      </div>
    </tab>

    <tab heading="Stock Splits" (selectTab)="activeStockSplits()">
      <div [ngStyle]="style">
        <div [ngStyle]="styleForHeight">
          <app-stock-splits *ngIf="stockSplits"></app-stock-splits>
        </div>
      </div>
    </tab>

    <tab heading="Symbol Change" (selectTab)="activeSymbolRename()">
      <div [ngStyle]="style">
        <div [ngStyle]="styleForHeight">
          <app-symbol-rename *ngIf="symbolRename"></app-symbol-rename>
        </div>
      </div>
    </tab>
  </tabset>
