<!-- Main Tab View -->
<p-tabView [ngStyle]="style" (onChange)="isPostingEngineRunning($event)">
  <!-- Logs Tab -->
  <p-tabPanel header="Logs" [ngStyle]="style">
    <!-- Action Buttons Div -->
    <div class="row">
      <div class="ml-auto mr-3">
        <app-grid-utils [gridOptions]="gridOptions" (refresh)="refreshGrid()" [excelParams]="excelParams">
        </app-grid-utils>
      </div>
    </div>
    <!-- AG Grid for Logs -->
    <div [ngStyle]="styleForLogsHeight">
      <ag-grid-angular class="w-100 h-100 ag-theme-balham" [gridOptions]="gridOptions"
        [getContextMenuItems]="getContextMenuItems">
      </ag-grid-angular>
    </div>
  </p-tabPanel>

  <!-- Tasks Tab -->
  <p-tabPanel #task header="Tasks" [ngStyle]="style">
    <div [ngStyle]="styleForTasksHeight">
      <div class="row">
        <!-- Run Posting Engine Div -->
        <div class="col-3">
          <p-dropdown [options]="periods" [(ngModel)]="selectedPeriod" optionLabel="name"></p-dropdown>
          <button class="btn btn-info ml-2" type="button" [disabled]="isLoading" (click)="runEngine()">
            Run Engine
          </button>
        </div>
        <div class="col-2">
          <input type="text" class="form-control" ngxDaterangepickerMd placeholder="Business Date"
            [(ngModel)]="businessDate" [singleDatePicker]="true" [autoApply]="true" [locale]="{firstDay: 1}" />
        </div>

        <div class="col-2 p-0">
          <button class="btn btn-info" type="button" [disabled]="isLoading || generateFilesLoader" (click)="generateFiles()">
              <span *ngIf="generateFilesLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Silver End of Day
          </button>
        </div>
        <div class="col-5">
          <!-- Clear Journal Div -->
          <form class="float-right" [formGroup]="clearJournalForm" (ngSubmit)="openModal()">
            <div class="mr-3">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="system" formControlName="system" />
                <label class="form-check-label" for="system">System Generated</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="user" formControlName="user" />
                <label class="form-check-label" for="user">User Generated</label>
              </div>
              <button class="btn btn-danger mt-2" [disabled]="validateClearForm()" type="submit">
                Clear Journal
              </button>
            </div>
          </form>
        </div>
        <!-- Posting Engine Messages Div -->
        <div *ngIf="isLoading">
          <h3 class="mt-4">Progress</h3>
          <div #logScroll [ngStyle]="containerDiv">
            <div *ngFor="let message of messages">
              {{ message }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Confirmation Modal Selector -->
    <app-confirmation-modal #confirmModal (confirmDeletion)="clearJournal()" [modalTitle]="'Clear Journal'">
    </app-confirmation-modal>
  </p-tabPanel>

  <!-- Files Tab -->
  <p-tabPanel header="Import / Export" [ngStyle]="style">
    <!-- <router-outlet></router-outlet> -->
    <div class="row">
      <div class="col-6">
        <app-file-management *ngIf="fileManagementActive"></app-file-management>
      </div>
      <div class="col-6">
        <app-silver-file-management *ngIf="fileManagementActive"></app-silver-file-management>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Export Exceptions" [ngStyle]="style">
    <div class="col-12">
      <app-file-exception *ngIf="exportExceptionActive"></app-file-exception>
    </div>
  </p-tabPanel>
</p-tabView>