<!-- Main Tab View -->
<p-tabView [ngStyle]="style" (onChange)="isPostingEngineRunning($event)">
  <!-- Logs Tab -->
  <p-tabPanel header="Logs" [ngStyle]="style">
    <!-- Action Buttons Div -->
    <div class="row">
      <div class="ml-auto mr-3">
        <app-grid-utils [gridOptions]="gridOptions" (refresh)="refreshGrid()" [excelParams]="excelParams">
        </app-grid-utils>
      </div>
    </div>
    <!-- AG Grid for Logs -->
    <div [ngStyle]="styleForLogsHeight">
      <ag-grid-angular class="w-100 h-100 ag-theme-balham" [gridOptions]="gridOptions"
        [getContextMenuItems]="getContextMenuItems">
      </ag-grid-angular>
    </div>
  </p-tabPanel>
  <!-- Logs Tab Ends -->

  <!-- Tasks Tab -->
  <p-tabPanel #task header="Tasks" [ngStyle]="style">
    <div [ngStyle]="styleForTasksHeight">
      <!-- Tasks Div -->
      <div class="row">

        <!-- Run Engine Div -->
        <div class="col-2">
          <!-- <p-dropdown [options]="periods" [(ngModel)]="selectedPeriod" optionLabel="name"></p-dropdown> -->
          <select class="form-control" [(ngModel)]="selectedPeriod">
            <option [disabled]="true" [ngValue]="periodPlaceholder">Select a Period</option>
            <option *ngFor="let period of periods" [ngValue]="period">
              {{ period.name }}
            </option>
          </select>
        </div>
        <div class="col-2 p-0">
          <button class="btn btn-info ml-2" type="button" [disabled]="isLoading" (click)="runEngine()">
            Run Engine
          </button>
        </div>
        <!-- Run Engine Div Ends -->

        <!-- Silver End of Day Div -->
        <div class="col-2">
          <input type="text" class="form-control" ngxDaterangepickerMd placeholder="Business Date"
            [(ngModel)]="businessDate" [singleDatePicker]="true" [autoApply]="true" />
        </div>
        <div class="col-2 p-0">
          <button class="btn btn-info" type="button" [disabled]="isLoading || generateFilesLoader"
            (click)="generateFiles()">
            <span *ngIf="generateFilesLoader" class="spinner-border spinner-border-sm" role="status"
              aria-hidden="true"></span>
            Silver End of Day
          </button>
        </div>
        <!-- Silver End of Day Div Ends -->

        <!-- Clear Journal Div -->
        <div class="col-4">
          <form class="float-right" [formGroup]="clearJournalForm" (ngSubmit)="openModal()">
            <div class="mr-3">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="system" formControlName="system" />
                <label class="form-check-label" for="system">System Generated</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="user" formControlName="user" />
                <label class="form-check-label" for="user">User Generated</label>
              </div>
              <button class="btn btn-danger mt-2" [disabled]="validateClearForm()" type="submit">
                Clear Journal
              </button>
            </div>
          </form>
        </div>
        <!-- Clear Journal Div Ends -->

        <!-- Posting Engine Messages Div -->
        <div *ngIf="isLoading">
          <h3 class="mt-4">Progress</h3>
          <div #logScroll [ngStyle]="containerDiv">
            <div *ngFor="let message of messages">
              {{ message }}
            </div>
          </div>
        </div>
        <!-- Posting Engine Messages Div Ends -->

      </div>
      <!-- Tasks Div Ends -->

    </div>
    <!-- Confirmation Modal Selector -->
    <app-confirmation-modal #confirmModal (confirmDeletion)="clearJournal()" [modalTitle]="'Clear Journal'">
    </app-confirmation-modal>
    <!-- Confirmation Modal Selector Ends -->

  </p-tabPanel>
  <!-- Tasks Tab Ends -->

  <!-- File Uploads Tab -->
  <p-tabPanel header="Uploads" [ngStyle]="style">
    <app-file-upload></app-file-upload>
  </p-tabPanel>
  <!-- File Uploads Tab Ends -->

  <!-- Files Tab -->
  <p-tabPanel header="Import / Export" [ngStyle]="style">
    <div class="row">

      <!-- File Management Div -->
      <div class="col-6">
        <app-file-management *ngIf="fileManagementActive"></app-file-management>
      </div>
      <!-- File Management Div Ends -->

      <!-- Silver File Management -->
      <div class="col-6">
        <app-silver-file-management *ngIf="fileManagementActive"></app-silver-file-management>
      </div>
      <!-- Silver File Management Ends -->

    </div>
  </p-tabPanel>
  <!-- Files Tab Ends -->

  <!-- File Exception Tab -->
  <p-tabPanel header="Export Exceptions" [ngStyle]="style">
    <div class="col-12">
      <app-file-exception *ngIf="exportExceptionActive"></app-file-exception>
    </div>
  </p-tabPanel>
  <!-- File Exception Tab Ends -->

</p-tabView>
<!-- Main Tab View Ends -->