<p-tabView [ngStyle]="style" (onChange)="IsPostingEngineRunning($event)">
  <p-tabPanel header="Logs" [ngStyle]="style">
    <!----- Refresh Button Div ----->
    <div class="row">
      <div class="ml-auto">
        <div class="mr-2 tabBtn">
          <button (click)="setGroupingState(true)" class="btn btn-info" tooltip="Expand" placement="top">
            <i class="fa fa-expand"></i></button>
        </div>
        <div class="mr-2 tabBtn">
          <button (click)="setGroupingState(false)" class="btn btn-info" tooltip="Collapse" placement="top">
            <i class="fa fa-compress"></i></button>
        </div>
        <div class="mr-2 tabBtn">
          <button (click)="refreshGrid()" class="btn btn-info" tooltip="Refresh" placement="top">
            <i class="fa fa-refresh"></i></button>
        </div>
      </div>
    </div>
    <!----- Refresh Button Div End ----->
    <div #divToMeasure>
      <div [ngStyle]="styleForHight">
        <ag-grid-angular style="width: 100%; height: 100%" class="ag-theme-balham" [gridOptions]="gridOptions" #topGrid
          [rowData]="rowData">
        </ag-grid-angular>
      </div>
    </div>
  </p-tabPanel>

  <p-tabPanel #task header="Tasks" [ngStyle]="style">
    <div #divToMeasure>
      <div [ngStyle]="styleForHight">
        <p-dropdown [options]="periods" [(ngModel)]="selectedPeriod" optionLabel="name"></p-dropdown>
        <button class="btn btn-info ml-2" type="button" [disabled]="isLoading" (click)="runEngine()">
          Run Engine
        </button>
        <form class="clearForm" #clearForm="ngForm" [formGroup]="clearJournalForm" (ngSubmit)="openModal()">
          <div class="mr-3">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="system" formControlName="system" />
              <label class="form-check-label" for="system">System Generated</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="user" formControlName="user" />
              <label class="form-check-label" for="user">User Generated</label>
            </div>
            <button class="btn btn-danger mt-2" [disabled]="validateClearForm()" type="submit">
              Clear Journal
            </button>
          </div>
        </form>
        <div *ngIf="isLoading">
          <h3 class="mt-4">Progress</h3>
          <div #logScroll [ngStyle]="containerDiv">
            <div *ngFor="let message of messages">
              {{ message }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Confirmation Modal Start -->
    <div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
      aria-hidden="true" [config]="{ backdrop: modal - backdrop }">
      <div class="modal-dialog modal-dialog-centered" id="modal-lg">
        <div class="modal-content">
          <!-- Modal Header Start -->
          <div class="modal-header">
            <h3>Confirm</h3>
            <button type="button" class="close close-btn" (click)="closeModal()">
              &times;
            </button>
          </div>
          <!-- Modal Header End -->
          <!-- Modal Body Start -->
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <label> Are you really sure? </label>
              </div>
            </div>
          </div>
          <!-- Modal Body End -->
          <!-- Modal Footer Start -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">
              No
            </button>
            <button type="button" class="btn btn-primary" (click)="clearJournal()">
              Yes
            </button>
          </div>
          <!-- Modal Footer End -->
        </div>
      </div>
    </div>
    <!-- Confirmation Modal End -->
  </p-tabPanel>
</p-tabView>