<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="lightpoint_aws"/>
    <add key="AWSProfilesLocation" value="C:\aws_service_credentials\credentials"/>
    <add key="AWSRegion" value="us-east-2"/>
    <add key="FinanceWebApi" value="http://localhost:9092" />
  </appSettings>
</configuration>