<div *ngIf="ledgerGrid" class="div primeng-datatable-container">
  <p-panel header="Ledger" [toggleable]="true" [style]="{'padding':'inherit'}" class="ledger-panel no-padding">
    <p-table #dtLedger scrollable="true" [style]="{'padding':'inherit'}" scrollHeight="400px" [rows]="itemPerPage"
      [paginator]="false" [totalRecords]="totalRecords" [loading]="loading" [reorderableColumns]="true"
      [columns]="ledgerCols" [lazy]="true" [value]="ledger" [virtualScroll]="true"
      (onLazyLoad)="getLegderByFundId(fundId, $event)" dataKey="id">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 70px;">
            Actions
          </th>
          <th *ngFor="let col of columns" mwlDraggable (dragEnd)="dragEnd(col.header)" pReorderableColumn>
            {{col.header}}
          </th>
        </tr>
        <tr>
          <th></th>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <p-autoComplete appendTo="body" *ngSwitchCase="'account'" placeholder="Search..." #accountInput
              class="font-size-12" [ngStyle]="{'border-color': 'red'}" [(ngModel)]="tempAccountSearch" field="name"
              (onClear)="onClearAccounts(dtLedger)" (onSelect)="accountSelect($event, dtLedger)"
              [suggestions]="accounts" name="accountName" (completeMethod)="onSearchAccount($event)" [dropdown]="true">
              <ng-template let-account pTemplate="accountTemplate">
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                  <div style="margin:10px 10px 0 0">{{account.name}}
                    <small>{{account.accountType.name}}</small></div>
                </div>
              </ng-template>
            </p-autoComplete>

            <p-autoComplete appendTo="body" *ngSwitchCase="'customer'" (onClear)="onClearCustomers(dtLedger)"
              placeholder="Search..." class="font-size-12" [ngStyle]="{'border-color': 'red'}"
              [(ngModel)]="tempCustomerSearch" [suggestions]="customers" field="name" name="customerName"
              (onSelect)="customerSelect($event, dtLedger)" (completeMethod)="onSearchCustomer($event)"
              [dropdown]="true">
            </p-autoComplete>

            <p-autoComplete appendTo="body" *ngSwitchCase="'accountType'"
              (onClear)="accountTypeId=undefined;onFilterClear('account_type_id', dtLedger)" placeholder="Show All"
              class="font-size-12" [ngStyle]="{'border-color': 'red'}" [(ngModel)]="accountTypeModel"
              [suggestions]="accountTypeSuggestions" field="name" (onSelect)="onAccountTypeChange($event, dtLedger)"
              [dropdown]="true" (completeMethod)="onSearchAccountType($event)">
            </p-autoComplete>

            <div *ngSwitchCase="'value'">
              {{valueFilter}} <i class="fa fa-close"
                (click)="valueFilter=null;dtLedger.filter(null, 'value', col.filterMatchMode)" style="cursor:pointer"
                *ngIf="valueFilter"></i>
              <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="value" [min]="0" [max]="1000"
                (onChange)="onValueChange($event, dtLedger)"></p-slider>
            </div>

          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded" let-index="rowIndex">
        <tr [pReorderableRow]="index">
          <td style="width: 70px">
            <div class="btn-group dropdown">
              <button (click)="editLedger(rowData.id)" class="btn btn-md">
                <i class="fa fa-gear settings_icon"></i>
              </button>
              <a href="#" [pRowToggler]="rowData">Expand
                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
              </a>
            </div>
          </td>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
          <td [attr.colspan]="columns.length + 1">
            <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
              <div class="ui-g-12 ui-md-9">
                <div class="ui-g">
                  <div class="ui-g-12">
                    <b>Vin:</b> {{rowData.vin}}
                  </div>
                  <div class="ui-g-12">
                    <b>Year:</b> {{rowData.year}}
                  </div>
                  <div class="ui-g-12">
                    <b>Brand:</b> {{rowData.brand}}
                  </div>
                  <div class="ui-g-12">
                    <b>Color:</b> {{rowData.color}}
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </p-panel>



  <!-- <div class="primeng-paging-container">
    <span class="total-records-count">
      <b>Total Count</b>{{1200}}
    </span>
  </div> -->
  <app-legder-modal #applegdermodal></app-legder-modal>
</div>