<div *ngIf="ledgerGrid" class="div primeng-datatable-container">
  <p-panel header="Ledger" [toggleable]="true">
    <p-table scrollable="true" scrollHeight="400px" [reorderableColumns]="true" [columns]="ledgerCols" [value]="ledger" (onLazyLoad)="getLegderByFundId(null,$event)">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 70px;">
            Actions
          </th>
          <th *ngFor="let col of columns" mwlDraggable (dragEnd)="dragEnd(col.header)" pReorderableColumn>
            {{col.header}}
          </th>
        </tr>
        <tr>
          <th></th>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">

            <p-autoComplete appendTo="body" *ngSwitchCase="'account'" placeholder="Search..." #accountInput class="font-size-12" [ngStyle]="{'border-color': 'red'}"
              [(ngModel)]="tempAccountSearch" (onClear)="onClearAccounts()" (onSelect)="accountSelect($event)" [suggestions]="accounts"
              field="name" name="accountName" (completeMethod)="onSearchAccount($event)" [style]="{'width':'95%'}" [inputStyle]="{'width': '100%'}"></p-autoComplete>
            <p-autoComplete appendTo="body" *ngSwitchCase="'customer'" (onClear)="onClearCustomers()" placeholder="Search..." class="font-size-12"
              [ngStyle]="{'border-color': 'red'}" [(ngModel)]="tempCustomerSearch" [suggestions]="customers" field="name" name="customerName"
              (onSelect)="customerSelect($event)" (completeMethod)="onSearchCustomer($event)" [style]="{'width':'95%'}" [inputStyle]="{'width': '100%'}">
            </p-autoComplete>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded" let-index="rowIndex">
        <tr [pReorderableRow]="index">
          <td style="width: 70px">
            <div class="btn-group dropdown">
              <button (click)="editLedger(rowData.id)" class="btn btn-md">
                <i class="fa fa-gear settings_icon"></i>
              </button>
            </div>
          </td>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>



  <!-- <div class="primeng-paging-container">
    <span class="total-records-count">
      <b>Total Count</b>{{1200}}
    </span>
  </div> -->
  <app-legder-modal #applegdermodal></app-legder-modal>
</div>