<!------ Modal Div Starts------>
<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
  [config]="{backdrop: modal-backdrop}">
  <!------ Modal Dialog Div Starts------>
  <div class="modal-dialog mw-100 w-75 modal-dialog-centered" id="modal-lg">
    <!------ Modal Content Div Starts------>
    <div class="modal-content">
      <!-- Modal Header Starts-->
      <div class="modal-header">
        <h3>{{ title }}</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
      </div>
      <div class="report-container">
        <app-report-grid [isLoading]="isLoading" [trialBalanceReport]="trialBalanceReport"
          [trialBalanceReportStats]="trialBalanceReportStats" [hideGrid]="hideGrid" [tableHeader]="tableHeader">
        </app-report-grid>
      </div>
    </div>
  </div>