.sidenav-container {
  height: 100vh;
  background: #f4f5f7;
}

.nav-items-container {
  height: 100%;
  padding-top: 40px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}

.user-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.admin-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.divider {
  width: 90%;
  border: 2px solid gray;
}

.toggle-menu-button {
  padding: 0 12px;
  color: gray;
}
