<!-- Main Container -->
<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
    <!-- Links -->
    <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
        <div>
            <mat-nav-list>
                <a mat-list-item *ngFor="let page of pages" [routerLink]="page.routerLink" title={{page?.name}}>
                    <!-- <mat-icon style="padding-right:5px;">{{page?.icon}}</mat-icon> -->
                    <i class="fa fa-lg {{page?.icon}}"></i>
                    <span class="ml-1" [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }} </span>
                </a>
            </mat-nav-list>
        </div>
    </div>
    <!-- Expand/Collapse Button -->
    <span class="spacer"></span>
    <div class="expand-menu-container" fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px;">
        <button class="expand-menu-btn" mat-icon-button (click)="onSinenavToggle()">
            <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
            <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
        </button>
    </div>
</div>