body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}


.blazor-grid-header {
    text-align: center;
    border-collapse: collapse;
    background: #ebebeb;
}

.blazor-row-item:hover {
    background: #9fcdf4;
}

th, td {
    padding: 5px;
    border: 1px solid #d1d1d1;
    text-align: center;
}

.pagebutton {
    margin-right: 5px;
    margin-top: 5px;
}

.currentpage {
    background-color: dodgerblue;
    color: white;
}
