<!-- Grid View Div Starts -->
<div class="d-flex" [ngStyle]="styleForHeight">

  <!-- AG Grid Starts -->
  <ag-grid-angular class="width-55 h-100 ag-theme-balham" [gridOptions]="gridOptions">
  </ag-grid-angular>
  <!-- AG Grid Ends -->

  <!-- Action Buttons Template Starts -->
  <ng-template #actionButtons let-row>
    <button class="btn edit-btn-props width-15 height-30px" (click)="viewLayout(row)" tooltip="View" placement="auto"
      container="body">
      <i class="fa fa-lg fa-eye" aria-hidden="true"></i>
    </button>

    <button class="btn edit-btn-props width-15 height-30px" (click)="showConfirmation(row)" tooltip="Delete"
      placement="auto" container="body">
      <i class="fa fa-lg fa-trash-o" aria-hidden="true"></i>
    </button>
  </ng-template>
  <!-- Action Buttons Template Ends -->

  <!-- Grid Layout Json Div Starts -->
  <div *ngIf="gridLayoutJson" class="width-45 h-100 json-container">
    <pre>{{gridLayoutJson | json}}</pre>
  </div>
  <!-- Grid Layout Json Div Ends -->

</div>
<!-- Grid View Div Ends -->

<app-confirmation-modal #confirmationModal (confirmDeletion)="deleteLayout()" [modalTitle]="'Delete Layout'">
</app-confirmation-modal>