  .preloader-content {
    height: 91vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0275D8;
  }

  .preloader-title {
    color: #9BBDDB;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.5em;
  }

  .notFound-btn{
    border-radius: 20px;
    font-weight: 500;
    height: 50px;
    width: 31%;
    background: #0145D4;
  }

  .notFound-txt{
    color: #151c29;
    font-weight: 700;
  }