<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PriceMasterDB" connectionString="Data Source=DEV11;Initial Catalog=PriceMaster;Persist Security Info=True;User ID=ggtuser;Password=ggtuser" providerName="System.Data.SqlClient" />
    
    <add name="FinanceDB" connectionString="Data Source=DEV11;Initial Catalog=FundAccounting;User Id=ggtuser;Password=ggtuser" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="smtp.gmail.com"
                 port="587"
                 userName=""
                 password=""
                 enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="AWSProfileName" value="lightpoint_aws"/>
    <add key="AWSProfilesLocation" value="C:\aws_service_credentials\credentials"/>
    <add key="AWSRegion" value="us-east-2"/>
    <add key="FromEmail" value=""/>
    <add key="FromName" value="LightPointFT"/>
    <add key="MOCK" value="" />

    <add key="logLocation" value="c:\temp\ErrorLog\Services\Finance"/>
    
    <add key="ReferenceDataWebApi" value="http://DEV11:9091" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" sendTimeout="24.20:31:23.6470000" receiveTimeout="24.20:31:23.6470000" closeTimeout="24.20:31:23.6470000" openTimeout="24.20:31:23.6470000" transferMode="Buffered">
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="LPNetNamedPipe" closeTimeout="24:10:00" openTimeout="24:10:00" sendTimeout="24:10:00" maxBufferPoolSize="2147483647" transferMode="Buffered" maxBufferSize="2147483647" receiveTimeout="24:10:00" maxReceivedMessageSize="2147483647" />
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="FASTServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="LPEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="LPNamedPipeConfig">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="LPNamedPipeConfigSvc">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <!--
      <endpoint address="net.tcp://172.17.212.91:9013/PositionMasterRealCache" binding="netTcpBinding" contract="LP.BookMonitor.Interface.IPositionMasterRealCache" bindingConfiguration="NetTcpBinding" behaviorConfiguration="FASTServiceBehaviour" name="PMRealCacheService" />
      <endpoint address="net.tcp://172.17.212.89:7776/LPTradePublisher" name="TradePublisherService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" contract="LP.TradeServer.LPTradeService.Interface.ILPTradeService" behaviorConfiguration="LPEndpointBehavior" />
      -->
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>