  .modal {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-backdrop {
    position: relative;
  }
  
  .close {
    font-size: 1.5em;
    color: white;
    display: none;
  }

  fieldset{
    border: 1px solid #dee2e6;;
    padding: 5px !important;
  }
  
  legend {
    width: auto !important;
  }
  