
<!-- LP Modal -->
<lp-modal #symbolRenameModal size="large" [title]="editSymbolRename ? 'Edit Symbol' : 'Create Symbol'"
    (closed)="onCloseModal()" [showFooter]="false" (canceled)="onCloseModal()" (confirmed)="form.ngSubmit.emit()">

        <form [formGroup]="symbolRenameForm" (ngSubmit)="onSubmit()">

        <!-- No Result Alert -->
        <alert *ngIf="noResult" type="danger" [dismissible]="true">
            <strong>Warning!</strong> Please, only select values from the dropdown!
        </alert>
        <!-- No Result Alert Ends -->

         <!-- Modal Body Starts-->
        <div class="modal-body">

        <!-- New Symbol Div Starts -->
        <div class="form-group">
            <div class="row m-0">
                <div class="col-sm-3 text-align-right">
                    <label>Old Symbol *</label>
                  </div>
                  <!-- newSymbol Drop Down -->
                  <div class="col-sm-3">
                    <input class="form-control"
                    placeholder="Select Symbol"
                    formControlName="oldSymbol"
                    [ngClass]="{ 'is-invalid': formFields.oldSymbol.errors && formFields.oldSymbol.invalid && formFields.oldSymbol.touched }"
                    autocomplete="off"
                    typeaheadWaitMs="500"
                    [isAnimated]="true"
                    [typeaheadScrollable]="true"
                    [typeaheadIsFirstItemActive]="true"
                    [typeaheadMinLength]="0"
                    [typeaheadOptionsInScrollableView]="15"
                    [typeahead]="ticker$"
                    (typeaheadNoResults)="typeaheadNoResults($event)"
                    />
                    <span *ngIf="formFields.oldSymbol.invalid  && formFields.oldSymbol.touched" class="invalid-feedback">Symbol is required</span>
                  </div>

                <div class="col-sm-3 text-right">
                    <label>New Symbol *</label>
                </div>
                <!-- newSymbol Drop Down -->
                <div class="col-sm-3">
                    <input class="form-control"
                        placeholder="Add New Symbol"
                        formControlName="newSymbol"
                        [ngClass]="{ 'is-invalid': formFields.newSymbol.errors && formFields.newSymbol.invalid && formFields.newSymbol.touched }"
                        autocomplete="off"
                        typeaheadWaitMs="500"
                        [isAnimated]="true"
                        [typeaheadScrollable]="true"
                        [typeaheadIsFirstItemActive]="true"
                        [typeaheadMinLength]="0"
                        [typeaheadOptionsInScrollableView]="15"
                        [typeahead]="ticker$"
                        (typeaheadNoResults)="typeaheadNoResults($event)"
                />
                <span *ngIf="formFields.newSymbol.invalid  && formFields.newSymbol.touched" class="invalid-feedback">Please enter symbol</span>
                </div>
            </div>

            </div>
            <!-- New Symbol Div Ends -->    

        <!-- New Symbol Div Starts -->
        
          <!-- New Symbol Div Ends -->

        <fieldset class="wrap-dates">
            <legend class="dates-heading">Dates</legend>

         <!-- ExDate Div Starts -->
        <div class="form-group">
            <div class="row m-0">
                <div class="col-sm-3">
                <label> Execution Date * </label>
                </div>
                <div class="col-sm-9">
                <input
                    ngxDaterangepickerMd
                    formControlName="executionDate"
                    class="form-control bc-white"
                    [ngClass]="{ 'is-invalid': formFields.executionDate.errors && formFields.executionDate.invalid && formFields.executionDate.touched}"
                    type="text"
                    placeholder="Select Execution Date"
                    [singleDatePicker]="true"
                    [autoApply]="true"
                    autocomplete="off"
                    readonly
                />
                <span *ngIf="formFields.executionDate.invalid  && formFields.executionDate.touched" class="invalid-feedback">Execution Date is required</span>
                </div>
            </div>
            <!-- ExDate Div End -->
        </div>

        <!-- Notice Date Div Starts -->
        <div class="form-group">
        <div class="row m-0">
            <div class="col-sm-3">
            <label> Notice Date * </label>
            </div>
            <div class="col-sm-9">
            <input
                ngxDaterangepickerMd
                formControlName="noticeDate"
                class="form-control bc-white cursor-pointer"
                [ngClass]="{ 'is-invalid': formFields.noticeDate.errors && formFields.noticeDate.invalid && formFields.noticeDate.touched }"
                type="text"
                placeholder="Select notice date"
                [singleDatePicker]="true"
                [autoApply]="true"
                autocomplete="off"
                readonly
                 />
                 <span *ngIf="formFields.noticeDate.invalid  && formFields.noticeDate.touched" class="invalid-feedback">Notice Date is required</span>
            </div>
        </div>
        <!-- Notice Date Div End -->
        </div>

        </fieldset>

        <!-- Modal Footer Starts -->
        <div class="modal-footer">
    
            <button type="button" class="btn btn-secondary" (click)="close()">
                <i class="fa fa-times" aria-hidden="true"></i> Cancel
            </button>
    
            <button type="submit" class="btn btn-pa" [ngClass]="{'cursor-not-allowed': !symbolRenameForm.valid}"
            [disabled]="!symbolRenameForm.valid || isSaving">
            <i class="fa" [ngClass]=" {'fa-edit':editSymbolRename, 'fa-save':!editSymbolRename}"></i>
            {{editSymbolRename ? "Update" : "Save"}}
            <span *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
            <!-- Modal Footer Ends -->
            </div>

        </div>
         <!------ Form End------>
          </form>

</lp-modal>
        
<!-- lp-modal Ends -->
